
.transition(@property, @time){

  -webkit-transition: @property @time;
  -moz-transition: @property @time;
  -ms-transition: @property @time;
  -o-transition: @property @time;
  transition: @property @time;
}

.full-width-fix-xs{
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 15px;
  padding-right: 15px;
}

h1{
  text-align: center;
}

strong{
  font-weight: normal;
  color: @main-color;
}

p, .field-content{
  letter-spacing: 0.5px;
}

.field-name-field-titel-body-links,
.field-name-field-titel-body-rechts{
  .secondheadings;
}

.page-header{
  border: none;
  color: @main-header-color;
  letter-spacing: 2px;

  @media screen and (min-width: 768px){
    &:before,&:after{
      content: "";
      width: 60px;
      height: 2px;
      background-color: @main-text-color;
      display: inline-block;
      z-index: 9999;
      margin-bottom: 10px;
    }
    &:before{
      margin-right: 20px;
    }
    &:after{
      margin-left: 20px;
    }

  }
}

// Onze troeven block
#block-views-onze-troeven-block{
  .h2{
    display: none;
  }

  .multiple-inline-element{
    background: #fff!important;
    border: none!important;
    display: block;
    margin-bottom: 25px;
    padding: 25px;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    2px 2px 7px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         2px 2px 7px 0px rgba(50, 50, 50, 0.2);

    .multiple-element{
      float: none!important;

      img{
        display: block;
        margin: 0 auto;
      }
      .field-name-field-titel-troef{
        margin-top:30px;
        margin-bottom: 0px;

        .field-item{
        }
      }
    }
    .field-item{
      background: none!important;
    }
  }
}

// Main block
#block-system-main{
  padding-bottom: 70px;
  .field-name-body{
    text-align: center;
  }
  .field-name-field-uitleg,
  .field-name-field-gegevens{
    h2{
      margin-top: 0;
      .secondheadings;
    }
  }
  .col-sm-12:first-of-type{
    padding-bottom: 35px;
  }
  .col-sm-6{
    padding-bottom: 35px;
    padding-top: 35px;
  }
}

// Body onderaan block
#block-views-pagina-body-onder-block{
  h2{
    color: @main-color;
  }

  ol {
    list-style-position: inside;
  }
  ol li {
    padding-left: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
    counter-increment: list;
    position: relative;
    em{
      color: @main-color;
      font-style: normal;
    }
  }
  ol li:before {
    content: counter(list) "";
    background-image: url('img/olbullet.png');
    background-position: 0px 0px;
    height: 32px;
    background-repeat: no-repeat;
    position: absolute;
    left: -40px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    font-weight: 600;
    font-size: 22px;

  }
}

// Flashbericht block
#block-views-flashbericht-block{
  .full-width-fix-xs;
  color: #fff;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  background-image: url('img/para1.jpg');
  background-position: center;
  background-size: cover;
  h2 a{
    color: #fff;
  }
}

// Tips block
#block-views-tips-block{
  .full-width-fix-xs;
  //background-color: @secondary-bg-color;
  padding-top: 70px;
  padding-bottom: 70px;
}

// Block rechts
.field-name-field-gegevens{
  tbody{
    tr{
      td{
        padding-right: 50px;
        padding-bottom: 4px;
      }
    }
  }
}

// Laat uw wagen wassen pagina
.field-name-field-uitleg{
  p{
    margin-bottom: 25px;
  }
  tbody{
    tr{
      td{
        padding-right: 30px;
        padding-bottom: 10px;
        &:first-of-type{
          color: @main-color;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
}

// Zelf wassen pagina
.page-node-10{
  #block-system-main{
    padding-bottom: 0!important;
  }
}

// Laten wassen pagina
.page-node-3{
  @media screen and (min-width: @screen-sm-min){
    #block-views-tips-block{
      padding-bottom: 0!important;
    }
  }
}

// Laten wassen pagina
.page-node-11{
  @media screen and (min-width: @screen-sm-min){
    #block-system-main{
      padding-bottom: 0!important;
    }
  }
}

// Contact pagina
.page-node-12{
  #block-views-contact-info-block,
  #block-views-contact-info-block-1{
    text-align: center;
    margin-bottom: 25px;
    .views-field-field-subtitel-locatie-tielt,
    .views-field-field-subtitel-locatie-wingene{
      color: @main-color;
      margin-bottom: 15px;
    }

    .views-field-data-1,
    .views-field-data{
      margin-top: 15px;
    }

    .views-field-postal-code,
    .views-field-city,
    .views-field-postal-code-1,
    .views-field-city-1{
      display: inline;
    }
    .views-field-field-email,
    .views-field-field-email-wingene{
      margin-bottom: 15px;
      .views-label,
      .field-content{
        display: inline;
      }
    }
    .views-field .views-label{
      color: @main-color;
    }

    .views-field-field-locatie-tielt,
    .views-field-field-locatie-wingene{
      display: inline-block;
      .getlocations_map_canvas{
        overflow: hidden;
        max-width: 100%!important;
        .gmnoprint{
          display: none;
        }
      }
    }
  }
  #getlocations_map_wrapper_key_2,
  #getlocations_map_wrapper_key_1{
    min-width: 325px!important;
    max-width: 205px!important;
    height: 205px!important;
  }
  #block-views-contact-info-block-1{
    padding-bottom: 45px;
  }
}

@media (min-width: @screen-xs-max){
  // Tips block
  #block-views-tips-block{
    position: relative;
    .field-name-body{
      float: left;
      width: 60%;
    }
    .field-name-field-a{
      float: right;
      width: 40%;
      img{
        margin-left: 50px;
        position: absolute;
        bottom: -40px;
        right: 95px;
        max-width: 250px;
        height: auto;
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
      }
    }
  }

  // Onze troeven blok
  #block-views-onze-troeven-block {
    padding-bottom: 70px;
    text-align: center;
    .multiple-inline-element {
      width: 32%;
      float: left;
      margin-right: 20px;
    }
    .multiple-inline-element:last-of-type{
      margin-right: 0;
    }
  }

  // Shop info block
  #block-views-shop-info-block{
    padding-top: 70px;
    padding-bottom: 70px;
    .field-name-body{
      float: left;
      width: 45%;
    }
    .field-name-field-a{
      float: right;
      width: 55%;
      text-align: right;
      img{
        display: inline-block;
        margin-right: 20px;
        width: 100%;
        max-width: 390px;
        height: auto;
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
      }
    }
  }

  // Contact pagina
  .page-node-12{
    #block-views-contact-info-block,
    #block-views-contact-info-block-1{
      padding-bottom: 45px;
    }

    .getlocations_map_wrapper_key_2,
    .getlocations_map_wrapper_key_1{
      min-width: 300px!important;
      max-width: 300px!important;
      height: 300px!important;
    }
  }
}

#block-views-shop-info-block {
  .field-name-field-a {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }
}

#block-webform-client-block-19{
  max-height: 0;
  overflow: hidden;
  form{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    float: none;

    @media (min-width: 768px) {
      width: 750px;
    }
    @media (min-width: 992px) {
      width: 970px;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }

    .form-item{
      input, textarea{
        border-radius: 0;
        box-shadow: none;
      }
      label{
        font-weight: normal;
      }
    }

    .form-actions{
      button{
        border-radius: 0;
        color: #fff;
        border-color: @brand-primary;
        background: @brand-primary;
        .transition(all, 0.35s);

        &:hover{
          background: #fff;
          color: @brand-primary;
        }
      }
    }

    .grippie{
      display: none;
    }

    padding-bottom: 55px;

  }

  .transition(all, 0.34s);

  &.slided-open{
    max-height: 1000px;
  }
}

#block-views-tips-block .field-type-image{
  &:hover{
    cursor: pointer;
  }
}

.field-item-field_troef{
  h3{
    margin: 0px;
    margin-top: 5px;
  }
  p{
    margin-top: 25px;
    font-size: 15px;
    font-family: "Nexa Light";
    line-height: 24px;
  }
}

#block-views-pagina-body-onder-block{
  @media (min-width: 768px){
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (min-width: 1024px){
    padding-right: 0px;
    padding-left: 0px;
  }
  .block-title{
    display: none;
  }
  h2{
    font-family: "proximanova", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    background-color: @main-color;
    margin-bottom: 25px;
  }
}

.views-field-field-softwash-troeven,.views-field-field-titel-body-onder{
  @media (min-width: 1024px){
    padding-left: 0px!important;
    padding-right: 0px!important;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.view-contact-info{
  .views-field-field-titel-locatie-wingene,.views-field-field-titel-locatie-tielt{
    .field-content{
      font-weight: 600!important;
      color: @main-color!important;
      font-size: 25px!important;
    }
  }
  .views-field-field-subtitel-locatie-wingene, .views-field-field-subtitel-locatie-tielt{
    .field-content{
    font-size: 14px!important;
      color: @main-color!important;
      font-weight: 300!important;
    }
  }
  .views-field{
    .field-content{
      font-size: 15px;
      line-height: 24px;
      color: #999999;
      font-weight: 400;
    }
  }
  .views-field-field-locatie-wingene{

  }
}

#block-views-contact-info-block-1,#block-views-contact-info-block{
  max-width: 500px;
  margin: 0 auto;
}
#block-views-contact-info-block-1{
  position: relative;
  &::after{
    content: "";
    height: 100%;
    position: absolute;
    width: 2px;
    background-color: @main-color;
    bottom: 50px;
    right: 0;
    margin-left: -2px;
    z-index: 25;
    max-height: 205px;
    display: block;
    clear: none;
    visibility: visible;
  }
}
.page-node-12{
  .region-content{
    max-width: 1000px;
    margin: 0 auto;
  }
}
