.page-node-10 #block-system-main > div > .row:last-of-type,
.page-node-3 #block-system-main > div > .row:last-of-type,
.page-node-11 #block-system-main > div > .row:last-of-type,
#block-views-flashbericht-block,
#block-views-shop-info-block,
#block-views-tips-block,
#block-views-pagina-body-onder-block,
#block-views-contact-info-block,
#block-views-contact-info-block-1,
#block-views-onze-troeven-block{
  margin-top: 50px;
  opacity: 1;
}

.in{
  margin-top: 0px!important;
  opacity: 1!important;
  transition: margin-top 0.5s ease-in-out, opacity 0.75s ease-in-out;
  -webkit-transition: margin-top 0.5s ease-in-out, opacity 0.75s ease-in-out;
  -moz-transition: margin-top 0.5s ease-in-out, opacity 0.75s ease-in-out;
  -o-transition: margin-top 0.5s ease-in-out, opacity 0.75s ease-in-out;
}
