@font-face {
  font-family: 'proximanova';
  src: url('fonts/proximanova/proxima_nova_bold-webfont.eot');
  src: url('fonts/proximanova/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/proximanova/proxima_nova_bold-webfont.woff2') format('woff2'),
  url('fonts/proximanova/proxima_nova_bold-webfont.woff') format('woff'),
  url('fonts/proximanova/proxima_nova_bold-webfont.ttf') format('truetype'),
  url('fonts/proximanova/proxima_nova_bold-webfont.svg#latolight') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova';
  src: url('fonts/proximanova/proximanova-regular-webfont.eot');
  src: url('fonts/proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/proximanova/proximanova-regular-webfont.woff2') format('woff2'),
  url('fonts/proximanova/proximanova-regular-webfont.woff') format('woff'),
  url('fonts/proximanova/proximanova-regular-webfont.ttf') format('truetype'),
  url('fonts/proximanova/proximanova-regular-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Bold';
  src: url('fonts/nexa/nexa_bold-webfont.woff');
}
@font-face {
  font-family: 'Nexa Light';
  src: url('fonts/nexa/nexa_light-webfont.woff');
}

@import url("https://use.typekit.net/fog5nod.css");

.secondheadings{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
  color: @main-color;
}

h2{
  color: @main-color;
  letter-spacing: 2px;
}

h3{
  color: @main-color;
  font-size: 18px;
  letter-spacing: 2px;
}

h1, h2{
  text-transform: uppercase;
}

.field-name-field-titel-troef{
  font-family: "Nexa Bold";
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
}
