// Insert your styling here.
.footer{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: @main-color;
  .region-footer {
    h2 {
      display: none;
    }

    color: #fff;

    #block-views-footer-contact-info-block {
      &::before{
        content: "Totalwash Vande Walle BV";
        font-size: 15px;
        font-family: "Nexa Bold";
        margin-bottom: 0px;
        text-transform: uppercase;
      }
      h3 {
        font-size: 18px;
        color: #fff;
      }
      a {
        color: #fff;
      }
    }
  }
}

@media (min-width: @screen-xs-max) {
  #block-views-footer-contact-info-block{
    float: left;
    //padding-right: 40px;
    //border-right: 1px solid #fff;
  }
  .footer{
    .region-footer{
      margin-left: -30px;
      margin-right: -30px;
    }
  }
}


#block-views-footer-quote-block{
  font-size: 30px;
  line-height: 28px;

  @media (min-width: @screen-xs-max) {
    float: right;
    text-align: right;
    margin-top: 35px;
  }
}

#block-block-1{
  text-align: center;
  clear: both;
  background: #fff;
  color: black;
  p{
    font-family: "Nexa Light";
    font-size: 11px;
    margin-bottom: 0px;
    a{
      color: black;
    }
  }
}

.footer-second{
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: white;
}

.view-id-footer_contact_info{
  h3{
    font-family: "Nexa Bold";
    font-size: 15px;
    text-transform: uppercase;
  }
  p{
    font-family: "Nexa Light";
    font-size: 15px;
    line-height: 24px;
  }
  ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    @media (min-width: 640px){
      margin-top: -105px;
      margin-left: 195px;
    }
    li{
      margin-bottom: 3px;
      a{
        font-family: "Nexa Light";
        font-size: 15px;
        text-decoration: underline;
        transition: 0.3s ease;
        &:hover{
          color: black!important;
        }
      }
    }
  }
  .field-name-field-adres-1{
    position: relative;
    @media (min-width: 768px){
      padding-right: 45px;
    }
    &::after{
      content: "";
      width: 100%;
      height: 1px;
      background-color: white;
      opacity: 0.3;
      margin-top: 45px;
      display: block;
      margin-bottom: 45px;
      @media (min-width: 768px){
        width: 1px;
        height: 100%;
        max-height: 108px;
        position: absolute;
        top: 22px;
        margin: 0;
        right: 0;
      }
    }
  }
  .field-name-body{
    @media (min-width: 768px){
      padding-left: 45px;
    }
  }
  .node-footer-contact-info{
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.region-footer{
  max-width: 1000px;
  margin: 0 auto!important;
  width: 100%;

  @media (min-width: 768px){
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  @media (min-width: 1024px){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.page-node-12{
  .main-container{
    .row{
      background-color: white;
    }
  }
}

.backstretch{
  max-height: 680px;
  max-width: 1600px;
  margin: auto!important;
  left: 0px!important;
  right: 0px!important;
  img{
    //max-height: 100%;
    object-fit: cover;
    max-width: 1600px!important;
    margin: auto!important;
    left: 0px!important;
    right: 0px!important;
    max-height: 680px!important;
  }
}
