.nav-up {
  top: -110px!important;
}

#navbar{
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
  z-index: 99;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  .navbar-toggle{
    margin-right: 0;
  }

}

.front{
  .slider-container{
    height: 100%;
  }
}

.not-front{
  .slider-container{
    .logo-wrapper{
      display: none;
    }
  }
}

.slider-container{
  position: relative;
  height: 70%;
  overflow: hidden;
  .logo-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    padding: 0 15px;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
    img{
      display: block;
      max-width: 100%;
      margin: 50% auto;
      height: auto;

    }

    .backstretch{
      background: #000;
    }
  }
}

// JS Classes
#navbar{
  position: fixed!important;
  top: 0;
  bottom: inherit!important;
  -webkit-transition: top 0.35s ease-in-out;
  -moz-transition: top 0.35s ease-in-out;
  -ms-transition: top 0.35s ease-in-out;
  -o-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;

}

.slidedown{
  z-index: 99999;
  display: block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 39px;
  height: 52px;
  background: url('img/slidedown.png') no-repeat center;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

.not-front{
  .slidedown{
    display: none;
  }
}

@media (min-width: @screen-xs-min){
  .slider-container {
    .logo-wrapper {
      img {
        margin: 20% auto;
      }
    }
  }
}

@media (min-width: 768px){
  .slider-container {
    .logo-wrapper {
      img {
        margin: 35% auto;
      }
    }
  }
}

@media (min-width: 1200px){
  .slider-container {
    .logo-wrapper {
      img {
        margin: 25% auto;
      }
    }
  }
}

@media (min-width: 1500px){
  .slider-container {
    .logo-wrapper {
      img {
        margin: 18% auto;
      }
    }
  }
  .front .slider-container {
    .logo-wrapper {
      img {
        margin: 23% auto;
      }
    }
  }
}

@-webkit-keyframes bounce {
  0%,100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-10px);}
}

@-moz-keyframes bounce {
  0%, 100% {-moz-transform: translateY(0);}
  50% {-moz-transform: translateY(-10px);}
}

@-o-keyframes bounce {
  0%,100% {-o-transform: translateY(0);}
  50% {-o-transform: translateY(-10px);}
}
@keyframes bounce {
  0%,100% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
}

#navbar {
  .container {

    .navbar-header {
      .logo {
        img {
          max-height: 50px;
        }
      }
    }
  }
}
@media (min-width: @screen-xs-max){
  .front{
    #navbar{
      bottom: 0;
    }
  }
  #navbar{
    margin: 0;
    padding: 0;
    bottom: 30%;
    .container{
      margin: 0;
      padding: 0;
      width: 100%;

      .navbar-header{
        .logo{
          img{
            margin-left: 70px;
          }
        }
      }
      ul.menu{
        width: 100%;
        float: right;
        li{
          width: 20%;
          text-align: center;
          //.main-transition;
          a{
            padding-left: 0;
            padding-right: 0;
            display: block;
            width: 100%;
            //.main-transition;
          }
          a.active-trail{
            font-weight: bold;
          }
        }
      }
    }
  }


  // JS Classes
  #navbar{
    .navbar-collapse{
      padding-right: 70px;
    }
    .container{
      padding-top: 35px!important;
      padding-bottom: 30px!important;
      -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.15);
      -moz-box-shadow: 0 0 4px rgba(0,0,0,0.15);
      box-shadow: 0 0 4px rgba(0,0,0,0.15);
      .navbar-header{
        .logo{
          height: inherit!important;
          overflow: visible!important;
          opacity: 1!important;
          visibility:visible!important;
        }
      }
      ul.menu{
        width: inherit!important;
        padding-left: 50px;
        li{
          width: inherit!important;
          a{
            height: inherit;
            overflow: hidden;
            padding: 30px 8px;
          }
        }
      }
    }

  }
}

@media (min-width: @screen-md-min){
  #navbar {
    .container {
      .navbar-header {
        .logo {
          img {
            margin-left: 140px;
          }
        }
      }
    }
  }

  #navbar{
    .navbar-collapse{
      padding-right: 140px;
    }
  }
}

@media (min-width: @screen-lg-min){
  #navbar {
    .container {
      .navbar-header {
        .logo {
          img {
            margin-left: 210px;
          }
        }
      }
    }
  }

  #navbar{
    .navbar-collapse{
      padding-right: 210px;
    }
  }
}

@media (min-width: 1200px){
  #navbar{
    .container {
      ul.menu {
        width: inherit !important;
        padding-left: 50px;
        li {
          width: inherit !important;
          a {
            height: inherit;
            overflow: hidden;
            padding: 30px 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 1300px){
  #navbar{
    .container {
      ul.menu {
        width: inherit !important;
        padding-left: 0px;
        li {
          width: inherit !important;
          a {
            height: inherit;
            overflow: hidden;
            padding: 30px 20px;
          }
        }
      }
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

