// Bootstrap library.
@import 'bootstrap.less';

// Colors
@import 'colors.less';

// Fonts
@import 'colors.less';

// Base-theme overrides.
@import 'fonts.less';

// Theme specific.
@import 'header.less';
@import 'content.less';
@import 'footer.less';

// Admin styles
@import 'adminstyles.less';

// Fade in css
@import 'fadein.less';

//new styling
@import 'tstyle.less';


html{
  overflow-x: hidden;
}

html,
body{
  height: 100%;
}

// Hiding
#block-views-onze-troeven-block .view-content h2,
.block-title{
  display: none;
}

// Main transition
.main-transition{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

// Blokkleuren
.front .main-container{
  background-color: @secondary-bg-color!important;
}

// Pagina zelf wassen
.page-node-10{
  .main-container{
    background-color: #A41724!important;
  }

  #block-views-pagina-body-onder-block{
    background-color: #fff;
  }
}

// Pagina laten wassen
.page-node-3{
  .main-container{
    //background-color: @secondary-bg-color!important;
  }

  #block-views-pagina-body-onder-block{
    background-color: #fff;
  }
}

// Pagina tankstation/shop
.page-node-11{
  #block-views-shop-info-block{
    background-color: @secondary-bg-color!important;
  }
}

// Full width grid

.page-header,
#block-system-main,
#block-views-shop-info-block,
#block-views-tips-block,
#block-views-onze-troeven-block,
#block-views-flashbericht-block,
#block-webform-client-block-19 form,
#block-views-pagina-body-onder-block {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

@media (max-width: @screen-sm-min){
  #block-views-shop-info-block,
  #block-views-pagina-body-onder-block,
  #block-system-main{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @screen-sm-min){
  .page-header,
  #block-system-main,
  #block-views-shop-info-block,
  #block-views-tips-block,
  #block-views-onze-troeven-block,
  #block-webform-client-block-19 form,
  #block-views-flashbericht-block{
    padding-left: 70px!important;
    padding-right: 70px!important;
  }

  .views-field-field-softwash-troeven{
    padding-bottom: 35px;
  }

  .views-field-field-titel-body-onder{
    padding-top: 35px;
  }

  .region-footer{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}

@media (min-width: @screen-md-min){
  .page-header,
  #block-system-main,
  #block-views-shop-info-block,
  #block-views-onze-troeven-block,
  #block-views-tips-block,
  #block-views-flashbericht-block,
  #block-webform-client-block-19 form{
    padding-left: 140px!important;
    padding-right: 140px!important;
  }

  .region-footer{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}

@media (min-width: @screen-lg-min){
  .page-header,
  #block-system-main,
  #block-views-shop-info-block,
  #block-views-onze-troeven-block,
  #block-views-tips-block,
  #block-views-flashbericht-block,
  #block-webform-client-block-19 form{
    padding-left: 210px!important;
    padding-right: 210px!important;
  }

  .region-footer{
    //padding-left: 210px!important;
    //padding-right: 210px!important;
  }

}

.inner-fig{
  background-color:rgba(255,255,255,0.95) ;
  h1{
    text-transform: none;
    text-align: left;
    margin: 0px;
    &::before{
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 214.57 75.27'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bisolation:isolate;%7D.cls-2%7Bfill:%23a41724;%7D.cls-3%7Bmix-blend-mode:multiply;fill:url(%23linear-gradient);%7D.cls-4%7Bfill:url(%23linear-gradient-2);%7D.cls-5%7Bfill:url(%23linear-gradient-3);%7D%3C/style%3E%3ClinearGradient id='linear-gradient' x1='12622.68' y1='-902.76' x2='12681.09' y2='-902.76' gradientTransform='matrix(-0.99, 0.15, 0.15, 0.99, 12819.18, -959.49)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23de1e27'/%3E%3Cstop offset='1' stop-color='%23c91d48'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='12444.08' y1='-4771.02' x2='12502.47' y2='-4771.02' gradientTransform='matrix(-0.75, 0.66, 0.66, 0.75, 12831.95, -4888.22)' xlink:href='%23linear-gradient'/%3E%3ClinearGradient id='linear-gradient-3' x1='12443.74' y1='-4768.92' x2='12502.18' y2='-4768.92' gradientTransform='matrix(-0.75, 0.66, 0.66, 0.75, 12831.95, -4888.22)' xlink:href='%23linear-gradient'/%3E%3C/defs%3E%3Cg class='cls-1'%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath class='cls-2' d='M90.51,12.69a3.72,3.72,0,1,1,4.85,2A3.73,3.73,0,0,1,90.51,12.69Z'/%3E%3Cpath class='cls-2' d='M59.36,14a2.56,2.56,0,1,1,3.34,1.4A2.56,2.56,0,0,1,59.36,14Z'/%3E%3Cpath class='cls-2' d='M66.84,6.06a2.14,2.14,0,1,1,2.78,1.17A2.13,2.13,0,0,1,66.84,6.06Z'/%3E%3Cpath class='cls-2' d='M85.9,4.74A1.93,1.93,0,1,1,88.42,5.8,1.94,1.94,0,0,1,85.9,4.74Z'/%3E%3Cpath class='cls-2' d='M97.28,15.67a1.68,1.68,0,1,1,2.2.93A1.68,1.68,0,0,1,97.28,15.67Z'/%3E%3Cpath class='cls-2' d='M63.18,24.79A1.45,1.45,0,0,1,64,22.92a1.44,1.44,0,0,1,1.08,2.66A1.45,1.45,0,0,1,63.18,24.79Z'/%3E%3Cpath class='cls-2' d='M77.25,11a1.27,1.27,0,1,1,1.65.7A1.27,1.27,0,0,1,77.25,11Z'/%3E%3Cpath class='cls-2' d='M69.27,14.58a1.26,1.26,0,1,1,1.65.69A1.25,1.25,0,0,1,69.27,14.58Z'/%3E%3Cpath class='cls-2' d='M89.5,17.51a1.39,1.39,0,1,1,1.81.76A1.38,1.38,0,0,1,89.5,17.51Z'/%3E%3Cpath class='cls-2' d='M80.42,2.25a1.34,1.34,0,0,1,2.48-1,1.34,1.34,0,0,1-2.48,1Z'/%3E%3Cpath class='cls-2' d='M65.38,19.45a1.64,1.64,0,1,1,2.13.9A1.63,1.63,0,0,1,65.38,19.45Z'/%3E%3Cpath class='cls-2' d='M93.25,22.37a1.31,1.31,0,1,1,2.42-1,1.3,1.3,0,0,1-.72,1.7A1.31,1.31,0,0,1,93.25,22.37Z'/%3E%3Cpath class='cls-2' d='M59.07,20.21a1.27,1.27,0,0,1,.7-1.67,1.28,1.28,0,1,1-.7,1.67Z'/%3E%3Cpath class='cls-2' d='M59.48,23.18a1.28,1.28,0,1,1,1.67.71A1.28,1.28,0,0,1,59.48,23.18Z'/%3E%3Cpath class='cls-2' d='M54.36,17.13a1.28,1.28,0,0,1,.7-1.67,1.29,1.29,0,1,1-.7,1.67Z'/%3E%3Cpath class='cls-2' d='M56,14a1.28,1.28,0,1,1,1.67.7A1.28,1.28,0,0,1,56,14Z'/%3E%3Cpath class='cls-2' d='M54.74,9.87a1.1,1.1,0,0,1,2-.83,1.1,1.1,0,1,1-2,.83Z'/%3E%3Cpath class='cls-2' d='M60.17,8.4a1,1,0,1,1,1.26.54A1,1,0,0,1,60.17,8.4Z'/%3E%3Cpath class='cls-2' d='M64.1,7a1,1,0,1,1,1.25.53A1,1,0,0,1,64.1,7Z'/%3E%3Cpath class='cls-2' d='M62.64,9.88a1.41,1.41,0,1,1,1.84.78A1.41,1.41,0,0,1,62.64,9.88Z'/%3E%3Cpath class='cls-2' d='M51.81,19.73a.88.88,0,1,1,1.14.48A.87.87,0,0,1,51.81,19.73Z'/%3E%3Cpath class='cls-2' d='M51.51,14.29a.44.44,0,0,1,.24-.56.42.42,0,0,1,.56.23.43.43,0,0,1-.23.56A.43.43,0,0,1,51.51,14.29Z'/%3E%3Cpath class='cls-2' d='M52.93,15.94a.43.43,0,1,1,.79-.33.42.42,0,0,1-.23.56A.43.43,0,0,1,52.93,15.94Z'/%3E%3Cpath class='cls-2' d='M52.27,10.3a.68.68,0,0,1,.36-.88.69.69,0,0,1,.88.37.67.67,0,0,1-1.24.51Z'/%3E%3Cpath class='cls-2' d='M53.26,14.45a.94.94,0,0,1,.51-1.22.94.94,0,1,1-.51,1.22Z'/%3E%3Cpath class='cls-2' d='M51.16,15.94a.52.52,0,1,1,1-.39.52.52,0,0,1-.28.67A.52.52,0,0,1,51.16,15.94Z'/%3E%3Cpath class='cls-2' d='M49.39,19.57a.52.52,0,0,1,.29-.68.52.52,0,0,1,.39,1A.52.52,0,0,1,49.39,19.57Z'/%3E%3Cpath class='cls-2' d='M50.13,12.52a.51.51,0,0,1,.28-.67.52.52,0,1,1,.39,1A.51.51,0,0,1,50.13,12.52Z'/%3E%3Cpath class='cls-2' d='M52.45,12.67a.63.63,0,0,1,.35-.83.64.64,0,1,1-.35.83Z'/%3E%3Cpath class='cls-2' d='M49.1,9.56A.64.64,0,1,1,50,9.4.64.64,0,0,1,49.1,9.56Z'/%3E%3Cpath class='cls-2' d='M54.23,12a.73.73,0,0,1,.41-.95.71.71,0,0,1,.94.4.73.73,0,0,1-.4.95A.74.74,0,0,1,54.23,12Z'/%3E%3Cpath class='cls-2' d='M53.37,21.34a.36.36,0,0,1,.2-.48.37.37,0,1,1,.28.68A.36.36,0,0,1,53.37,21.34Z'/%3E%3Cpath class='cls-2' d='M55.49,21.27a.37.37,0,1,1,.68-.28.37.37,0,1,1-.68.28Z'/%3E%3Cpath class='cls-2' d='M55.12,22.94a.37.37,0,0,1,.2-.48.38.38,0,0,1,.49.2.39.39,0,0,1-.21.49A.38.38,0,0,1,55.12,22.94Z'/%3E%3Cpath class='cls-2' d='M54.81,19.73a.73.73,0,1,1,.95.4A.73.73,0,0,1,54.81,19.73Z'/%3E%3Cpath class='cls-2' d='M52.8,8A.3.3,0,0,1,53,7.62a.28.28,0,0,1,.36.16.28.28,0,0,1-.15.36A.29.29,0,0,1,52.8,8Z'/%3E%3Cpath class='cls-2' d='M39.74,4.56a.28.28,0,0,1,.15-.37.28.28,0,0,1,.37.16.27.27,0,0,1-.16.36A.28.28,0,0,1,39.74,4.56Z'/%3E%3Cpath class='cls-2' d='M52.3,6.27a.51.51,0,0,1,.28-.68.52.52,0,1,1-.28.68Z'/%3E%3Cpath class='cls-2' d='M55.68,5.41a.52.52,0,1,1,1-.39.51.51,0,0,1-.29.67A.52.52,0,0,1,55.68,5.41Z'/%3E%3Cpath class='cls-2' d='M55.05,1a.52.52,0,1,1,.68.28A.52.52,0,0,1,55.05,1Z'/%3E%3Cpath class='cls-2' d='M58.21,3.73a.76.76,0,1,1,1,.41A.76.76,0,0,1,58.21,3.73Z'/%3E%3Cpath class='cls-2' d='M57.84,7.3a.87.87,0,0,1,.47-1.11.85.85,0,0,1,1.11.47A.84.84,0,0,1,59,7.76.85.85,0,0,1,57.84,7.3Z'/%3E%3Cpath class='cls-2' d='M58.25,9.61a.85.85,0,1,1,1.11.46A.85.85,0,0,1,58.25,9.61Z'/%3E%3Cpath class='cls-2' d='M58.32,11.24a.29.29,0,0,1,.16-.37.27.27,0,0,1,.36.16.28.28,0,0,1-.15.36A.29.29,0,0,1,58.32,11.24Z'/%3E%3Cpath class='cls-2' d='M56.61,11.29a.48.48,0,0,1,.26-.64.49.49,0,0,1,.37.91A.48.48,0,0,1,56.61,11.29Z'/%3E%3Cpath class='cls-2' d='M55.46,7.54a.49.49,0,1,1,.64.27A.49.49,0,0,1,55.46,7.54Z'/%3E%3Cpath class='cls-2' d='M57.92,15.82a.94.94,0,1,1,1.22.52A.94.94,0,0,1,57.92,15.82Z'/%3E%3Cpath class='cls-2' d='M61.14,4.26a.43.43,0,1,1,.56.23A.43.43,0,0,1,61.14,4.26Z'/%3E%3Cpath class='cls-2' d='M60.21,6.52A.43.43,0,0,1,60.45,6,.42.42,0,0,1,61,6.2a.43.43,0,0,1-.23.56A.43.43,0,0,1,60.21,6.52Z'/%3E%3Cpath class='cls-2' d='M61.5,6a.43.43,0,0,1,.23-.56.44.44,0,0,1,.57.23.43.43,0,0,1-.24.56A.43.43,0,0,1,61.5,6Z'/%3E%3Cpath class='cls-2' d='M60.82,10a.6.6,0,0,1,.33-.79.61.61,0,1,1,.46,1.12A.6.6,0,0,1,60.82,10Z'/%3E%3Cpath class='cls-2' d='M62.26,7.14a.82.82,0,1,1,1.07.45A.82.82,0,0,1,62.26,7.14Z'/%3E%3Cpath class='cls-2' d='M59.48,5.44A.33.33,0,0,1,59.65,5a.31.31,0,1,1-.17.41Z'/%3E%3Cpath class='cls-2' d='M63,5a.31.31,0,0,1,.17-.41.31.31,0,0,1,.23.57A.3.3,0,0,1,63,5Z'/%3E%3Cpath class='cls-2' d='M56.73,20.66a.85.85,0,1,1,1.11.46A.85.85,0,0,1,56.73,20.66Z'/%3E%3Cpath class='cls-2' d='M56.92,18.68a.52.52,0,1,1,.68.28A.53.53,0,0,1,56.92,18.68Z'/%3E%3Cpath class='cls-2' d='M58.47,17.66a.64.64,0,1,1,.84.35A.66.66,0,0,1,58.47,17.66Z'/%3E%3Cpath class='cls-2' d='M57.43,16.92a.32.32,0,0,1,.17-.4.31.31,0,0,1,.41.17.31.31,0,0,1-.17.4A.31.31,0,0,1,57.43,16.92Z'/%3E%3Cpath class='cls-2' d='M58.33,19a.32.32,0,0,1,.16-.41.32.32,0,0,1,.41.17.31.31,0,0,1-.17.41A.31.31,0,0,1,58.33,19Z'/%3E%3Cpath class='cls-2' d='M57.14,8.69a.43.43,0,1,1,.56.24A.43.43,0,0,1,57.14,8.69Z'/%3E%3Cpath class='cls-2' d='M56.39,23.19a1,1,0,0,1,1.88-.76,1,1,0,1,1-1.88.76Z'/%3E%3Cpath class='cls-3' d='M55.17,25a.65.65,0,0,1,.36-.86.66.66,0,1,1-.36.86Z'/%3E%3Cpath class='cls-2' d='M63.81,19.87a.65.65,0,0,1,.36-.86.67.67,0,0,1,.87.36.67.67,0,0,1-.36.87A.67.67,0,0,1,63.81,19.87Z'/%3E%3Cpath class='cls-2' d='M68.2,17.55a.66.66,0,1,1,.86.36A.65.65,0,0,1,68.2,17.55Z'/%3E%3Cpath class='cls-2' d='M72.19,10.41a.67.67,0,1,1,1.23-.51.68.68,0,0,1-.37.87A.66.66,0,0,1,72.19,10.41Z'/%3E%3Cpath class='cls-2' d='M61,27.91a.67.67,0,0,1,.37-.87.65.65,0,0,1,.86.36.67.67,0,0,1-.36.87A.67.67,0,0,1,61,27.91Z'/%3E%3Cpath class='cls-2' d='M78.53,7.88a.67.67,0,1,1,.87.36A.67.67,0,0,1,78.53,7.88Z'/%3E%3Cpath class='cls-2' d='M66,10.36a.94.94,0,1,1,1.23.52A.94.94,0,0,1,66,10.36Z'/%3E%3Cpath class='cls-2' d='M76.1,8.75a.89.89,0,1,1,1.65-.67.89.89,0,0,1-1.65.67Z'/%3E%3Cpath class='cls-2' d='M62.65,27.84a1.17,1.17,0,1,1,1.52.64A1.17,1.17,0,0,1,62.65,27.84Z'/%3E%3Cpath class='cls-2' d='M63.75,16.54A1.22,1.22,0,0,1,64.42,15a1.2,1.2,0,0,1,1.58.66,1.22,1.22,0,0,1-2.25.92Z'/%3E%3Cpath class='cls-2' d='M69.21,9.34a1.27,1.27,0,1,1,1.66.7A1.27,1.27,0,0,1,69.21,9.34Z'/%3E%3Cpath class='cls-2' d='M67.43,12.34A1.39,1.39,0,0,1,70,11.29a1.39,1.39,0,0,1-2.57,1.05Z'/%3E%3Cpath class='cls-2' d='M66.33,15.67a1.39,1.39,0,0,1,.76-1.81,1.39,1.39,0,0,1,1,2.57A1.39,1.39,0,0,1,66.33,15.67Z'/%3E%3Cpath class='cls-2' d='M73,12.33a1.16,1.16,0,1,1,1.51.64A1.16,1.16,0,0,1,73,12.33Z'/%3E%3Cpath class='cls-2' d='M73.07,2.63a1.17,1.17,0,1,1,1.52.63A1.16,1.16,0,0,1,73.07,2.63Z'/%3E%3Cpath class='cls-2' d='M81.85,7.09a1.16,1.16,0,1,1,1.51.64A1.16,1.16,0,0,1,81.85,7.09Z'/%3E%3Cpath class='cls-2' d='M87.15,11a1.33,1.33,0,1,1,1.73.73A1.33,1.33,0,0,1,87.15,11Z'/%3E%3Cpath class='cls-2' d='M89.76,6.5A1.72,1.72,0,1,1,92,7.44,1.72,1.72,0,0,1,89.76,6.5Z'/%3E%3Cpath class='cls-2' d='M95.34,18.44A1.44,1.44,0,0,1,98,17.35a1.44,1.44,0,1,1-2.67,1.09Z'/%3E%3Cpath class='cls-2' d='M65.14,27.38a1.5,1.5,0,0,1,2.77-1.13,1.5,1.5,0,1,1-2.77,1.13Z'/%3E%3Cpath class='cls-2' d='M83.62,12.2a1,1,0,0,1,.55-1.3,1,1,0,1,1-.55,1.3Z'/%3E%3Cpath class='cls-2' d='M73.74,6.63a1.44,1.44,0,1,1,1.87.79A1.44,1.44,0,0,1,73.74,6.63Z'/%3E%3Cpath class='cls-2' d='M96.81,21.5a1,1,0,1,1,1.37.58A1,1,0,0,1,96.81,21.5Z'/%3E%3Cpath class='cls-2' d='M66.28,24.58A.72.72,0,1,1,67.61,24a.72.72,0,0,1-1.33.54Z'/%3E%3Cpath class='cls-2' d='M76.67,1.82a.89.89,0,1,1,1.65-.67.89.89,0,0,1-1.65.67Z'/%3E%3Cpath class='cls-2' d='M84.79,7.62A.89.89,0,0,1,86.44,7a.89.89,0,0,1-1.65.67Z'/%3E%3Cpath class='cls-2' d='M76.28,4.38a.89.89,0,0,1,.48-1.16.9.9,0,0,1,1.16.49.89.89,0,0,1-1.64.67Z'/%3E%3Cpath class='cls-2' d='M79.14,4.05a.9.9,0,0,1,.49-1.16.89.89,0,0,1,.67,1.65A.9.9,0,0,1,79.14,4.05Z'/%3E%3Cpath class='cls-2' d='M70.85,12.11A.89.89,0,0,1,71.34,11a.88.88,0,1,1-.49,1.16Z'/%3E%3Cpath class='cls-2' d='M93,16.87a.89.89,0,0,1,.49-1.15.89.89,0,0,1,.67,1.64A.89.89,0,0,1,93,16.87Z'/%3E%3Cpath class='cls-2' d='M90.78,21.44a1.17,1.17,0,1,1,1.52.63A1.17,1.17,0,0,1,90.78,21.44Z'/%3E%3Cpath class='cls-2' d='M64.35,21.69a.94.94,0,0,1,.51-1.23,1,1,0,0,1,1.23.52.94.94,0,0,1-.51,1.23A.93.93,0,0,1,64.35,21.69Z'/%3E%3Cpath class='cls-2' d='M61.36,30.11a.94.94,0,1,1,1.22.51A.93.93,0,0,1,61.36,30.11Z'/%3E%3Cpath class='cls-2' d='M61,26.1a.94.94,0,1,1,1.75-.71A.94.94,0,0,1,61,26.1Z'/%3E%3Cpath class='cls-2' d='M58.93,25.76a.94.94,0,1,1,1.74-.71.94.94,0,0,1-1.74.71Z'/%3E%3Cpath class='cls-2' d='M57.79,28a.93.93,0,0,1,.51-1.22A.94.94,0,1,1,57.79,28Z'/%3E%3Cpath class='cls-2' d='M56.61,26.28a.72.72,0,0,1,.4-1,.73.73,0,1,1-.4,1Z'/%3E%3Cpath class='cls-2' d='M60.26,17.3a1,1,0,0,1,1.88-.76,1,1,0,0,1-1.88.76Z'/%3E%3Cpath class='cls-2' d='M57.5,30.54a1.25,1.25,0,0,1,.68-1.61,1.24,1.24,0,0,1,.93,2.29A1.25,1.25,0,0,1,57.5,30.54Z'/%3E%3Cpath class='cls-2' d='M60.13,27.2a.32.32,0,0,1,.17-.42.32.32,0,1,1,.24.59A.32.32,0,0,1,60.13,27.2Z'/%3E%3Cpath class='cls-2' d='M58.74,21.78a.3.3,0,0,1,.17-.41.31.31,0,0,1,.41.17.31.31,0,0,1-.17.41A.31.31,0,0,1,58.74,21.78Z'/%3E%3Cpath class='cls-2' d='M58.17,24.15a.42.42,0,0,1,.23-.55.42.42,0,0,1,.32.78A.42.42,0,0,1,58.17,24.15Z'/%3E%3Cpath class='cls-2' d='M57.19,24.64a.43.43,0,0,1,.23-.57.44.44,0,0,1,.57.24.45.45,0,0,1-.24.57A.43.43,0,0,1,57.19,24.64Z'/%3E%3Cpath class='cls-2' d='M59.61,29.05a.89.89,0,1,1,1.65-.67.89.89,0,0,1-1.65.67Z'/%3E%3Cpath class='cls-2' d='M57,29a.46.46,0,0,1,.25-.61.47.47,0,0,1,.35.87A.45.45,0,0,1,57,29Z'/%3E%3Cpath class='cls-2' d='M61.49,21.29a.47.47,0,1,1,.62.26A.47.47,0,0,1,61.49,21.29Z'/%3E%3Cpath class='cls-2' d='M62.7,22.22a.7.7,0,0,1,.38-.9.69.69,0,0,1,.89.38.67.67,0,0,1-.37.89A.68.68,0,0,1,62.7,22.22Z'/%3E%3Cpath class='cls-2' d='M62.53,20.85a.59.59,0,1,1,.77.32A.58.58,0,0,1,62.53,20.85Z'/%3E%3Cpath class='cls-2' d='M62,19.41a.78.78,0,0,1,1.44-.59.78.78,0,0,1-1.44.59Z'/%3E%3Cpath class='cls-2' d='M62.07,18a.37.37,0,0,1,.2-.47.36.36,0,0,1,.48.2.37.37,0,0,1-.2.47A.36.36,0,0,1,62.07,18Z'/%3E%3Cpath class='cls-2' d='M62.31,16.81a.61.61,0,1,1,1.14-.46.61.61,0,1,1-1.14.46Z'/%3E%3Cpath class='cls-2' d='M64.42,18.15a.5.5,0,0,1,.27-.65.5.5,0,0,1,.37.92A.49.49,0,0,1,64.42,18.15Z'/%3E%3Cpath class='cls-2' d='M66.7,13.28a.36.36,0,1,1,.47.2A.35.35,0,0,1,66.7,13.28Z'/%3E%3Cpath class='cls-2' d='M65,14.41a.74.74,0,0,1,1.37-.56.75.75,0,0,1-.41,1A.74.74,0,0,1,65,14.41Z'/%3E%3Cpath class='cls-2' d='M64.41,12.32a1.07,1.07,0,1,1,1.4.59A1.08,1.08,0,0,1,64.41,12.32Z'/%3E%3Cpath class='cls-2' d='M65.94,8.31a.54.54,0,0,1,.3-.72.55.55,0,1,1-.3.72Z'/%3E%3Cpath class='cls-2' d='M67.61,8.72a.6.6,0,0,1,.33-.79.61.61,0,1,1,.47,1.13A.62.62,0,0,1,67.61,8.72Z'/%3E%3Cpath class='cls-2' d='M64.3,4.4a.56.56,0,0,1,.31-.72.55.55,0,1,1-.31.72Z'/%3E%3Cpath class='cls-2' d='M65.64,3.45a.69.69,0,1,1,1.27-.52.69.69,0,1,1-1.27.52Z'/%3E%3Cpath class='cls-2' d='M65.33,5.29a.48.48,0,0,1,.9-.36.5.5,0,0,1-.27.63A.48.48,0,0,1,65.33,5.29Z'/%3E%3Cpath class='cls-2' d='M72.1,13.52a.48.48,0,1,1,.63.26A.48.48,0,0,1,72.1,13.52Z'/%3E%3Cpath class='cls-2' d='M74.59,10.27A.68.68,0,0,1,75,9.38a.67.67,0,0,1,.88.37.68.68,0,1,1-1.26.52Z'/%3E%3Cpath class='cls-2' d='M75.73,11.71a.67.67,0,0,1,.37-.89.68.68,0,1,1,.51,1.26A.67.67,0,0,1,75.73,11.71Z'/%3E%3Cpath class='cls-2' d='M72.26,8.69a1,1,0,1,1,1.26.52A1,1,0,0,1,72.26,8.69Z'/%3E%3Cpath class='cls-2' d='M70.92,7.06a1,1,0,1,1,1.27.53A1,1,0,0,1,70.92,7.06Z'/%3E%3Cpath class='cls-2' d='M74.62,8.54a.56.56,0,0,1,.3-.73.56.56,0,1,1-.3.73Z'/%3E%3Cpath class='cls-2' d='M71.13,4.46A1,1,0,1,1,72.39,5,1,1,0,0,1,71.13,4.46Z'/%3E%3Cpath class='cls-2' d='M70.05,3.22a.49.49,0,0,1,.27-.65.51.51,0,0,1,.65.27.5.5,0,0,1-.27.65A.49.49,0,0,1,70.05,3.22Z'/%3E%3Cpath class='cls-2' d='M71.42,2.44a.49.49,0,0,1,.27-.65.5.5,0,1,1-.27.65Z'/%3E%3Cpath class='cls-2' d='M75.59,2.72a.41.41,0,0,1,.22-.53.42.42,0,0,1,.54.22.41.41,0,0,1-.23.53A.4.4,0,0,1,75.59,2.72Z'/%3E%3Cpath class='cls-2' d='M74.94,3.92A.58.58,0,1,1,76,3.48a.58.58,0,0,1-1.07.44Z'/%3E%3Cpath class='cls-2' d='M73.34,4.61a.59.59,0,0,1,.31-.76.58.58,0,1,1-.31.76Z'/%3E%3Cpath class='cls-2' d='M76.86,6.51a.83.83,0,1,1,1.53-.62.83.83,0,0,1-1.53.62Z'/%3E%3Cpath class='cls-2' d='M79.11,6.26a.59.59,0,1,1,1.1-.45.59.59,0,0,1-1.1.45Z'/%3E%3Cpath class='cls-2' d='M80.4,5.66a.61.61,0,0,1,.33-.78A.59.59,0,0,1,81.18,6,.6.6,0,0,1,80.4,5.66Z'/%3E%3Cpath class='cls-2' d='M80.37,7.41a.59.59,0,0,1,.32-.77.59.59,0,1,1,.45,1.1A.59.59,0,0,1,80.37,7.41Z'/%3E%3Cpath class='cls-2' d='M80.05,8.71a.4.4,0,0,1,.22-.53.42.42,0,0,1,.53.22.41.41,0,0,1-.23.53A.39.39,0,0,1,80.05,8.71Z'/%3E%3Cpath class='cls-2' d='M81.21,8.87a.4.4,0,0,1,.22-.53.41.41,0,0,1,.53.23.42.42,0,0,1-.22.53A.41.41,0,0,1,81.21,8.87Z'/%3E%3Cpath class='cls-2' d='M80.37,10.52a.6.6,0,0,1,.33-.79.61.61,0,1,1-.33.79Z'/%3E%3Cpath class='cls-2' d='M78.27,3.09a.37.37,0,0,1,.2-.48.37.37,0,0,1,.49.2.38.38,0,0,1-.2.49A.36.36,0,0,1,78.27,3.09Z'/%3E%3Cpath class='cls-2' d='M78.76,1.33A.59.59,0,1,1,79.85.88a.59.59,0,0,1-1.09.45Z'/%3E%3Cpath class='cls-2' d='M79.4,2.35A.29.29,0,0,1,79.55,2a.29.29,0,1,1,.22.54A.28.28,0,0,1,79.4,2.35Z'/%3E%3Cpath class='cls-2' d='M78.53,5.16a.41.41,0,0,1,.23-.53.42.42,0,0,1,.53.22.41.41,0,0,1-.23.53A.4.4,0,0,1,78.53,5.16Z'/%3E%3Cpath class='cls-2' d='M78.9,9a.41.41,0,1,1,.53.22A.4.4,0,0,1,78.9,9Z'/%3E%3Cpath class='cls-2' d='M76.27,10.23a.41.41,0,0,1,.23-.53.4.4,0,0,1,.53.22.41.41,0,0,1-.22.53A.41.41,0,0,1,76.27,10.23Z'/%3E%3Cpath class='cls-2' d='M81.89,11.8a.57.57,0,1,1,.75.31A.58.58,0,0,1,81.89,11.8Z'/%3E%3Cpath class='cls-2' d='M80.84,11.73a.28.28,0,0,1,.16-.37.29.29,0,0,1,.38.15.3.3,0,0,1-.16.38A.29.29,0,0,1,80.84,11.73Z'/%3E%3Cpath class='cls-2' d='M64,29.67a.61.61,0,1,1,.79.33A.6.6,0,0,1,64,29.67Z'/%3E%3Cpath class='cls-2' d='M66,23a.61.61,0,1,1,.79.33A.6.6,0,0,1,66,23Z'/%3E%3Cpath class='cls-2' d='M65.47,29.3a.47.47,0,0,1,.26-.63.5.5,0,0,1,.64.26.49.49,0,0,1-.27.64A.48.48,0,0,1,65.47,29.3Z'/%3E%3Cpath class='cls-2' d='M61.88,24.11a.35.35,0,0,1,.19-.45.34.34,0,0,1,.45.19.33.33,0,0,1-.19.44A.34.34,0,0,1,61.88,24.11Z'/%3E%3Cpath class='cls-2' d='M66.31,21.58a.61.61,0,0,1,.34-.79.6.6,0,0,1,.79.33.62.62,0,0,1-.33.79A.61.61,0,0,1,66.31,21.58Z'/%3E%3Cpath class='cls-2' d='M82.25,10.05a1,1,0,1,1,1.27.53A1,1,0,0,1,82.25,10.05Z'/%3E%3Cpath class='cls-2' d='M82,3.94a.71.71,0,1,1,1.31-.53.7.7,0,0,1-.39.92A.71.71,0,0,1,82,3.94Z'/%3E%3Cpath class='cls-2' d='M84.67,10.15a.87.87,0,1,1,1.14.48A.87.87,0,0,1,84.67,10.15Z'/%3E%3Cpath class='cls-2' d='M87.9,15.49a.88.88,0,0,1,.48-1.15.87.87,0,0,1,1.14.48.88.88,0,1,1-1.62.67Z'/%3E%3Cpath class='cls-2' d='M88.47,13.18a.87.87,0,1,1,1.14.48A.86.86,0,0,1,88.47,13.18Z'/%3E%3Cpath class='cls-2' d='M86.59,14.06a.88.88,0,0,1,.48-1.15.88.88,0,1,1-.48,1.15Z'/%3E%3Cpath class='cls-2' d='M88,8.07a.87.87,0,1,1,1.62-.66A.87.87,0,0,1,88,8.07Z'/%3E%3Cpath class='cls-2' d='M93.35,19.48a.87.87,0,1,1,1.14.48A.86.86,0,0,1,93.35,19.48Z'/%3E%3Cpath class='cls-2' d='M91,23.84a.87.87,0,1,1,1.14.48A.87.87,0,0,1,91,23.84Z'/%3E%3Cpath class='cls-2' d='M99,23.3a1,1,0,1,1,1.3.55A1,1,0,0,1,99,23.3Z'/%3E%3Cpath class='cls-2' d='M100.19,19.6a1,1,0,1,1,1.3.55A1,1,0,0,1,100.19,19.6Z'/%3E%3Cpath class='cls-2' d='M101.47,22.78a.45.45,0,0,1,.24-.58.46.46,0,0,1,.59.24.45.45,0,0,1-.25.58A.43.43,0,0,1,101.47,22.78Z'/%3E%3Cpath class='cls-2' d='M101.24,20.86a.46.46,0,0,1,.25-.59.45.45,0,0,1,.58.25.45.45,0,0,1-.25.58A.45.45,0,0,1,101.24,20.86Z'/%3E%3Cpath class='cls-2' d='M100.42,21.85a.53.53,0,1,1,.69.29A.54.54,0,0,1,100.42,21.85Z'/%3E%3Cpath class='cls-2' d='M99.34,20.75a.64.64,0,0,1,1.19-.48.66.66,0,0,1-.35.84A.65.65,0,0,1,99.34,20.75Z'/%3E%3Cpath class='cls-2' d='M98.42,19.46a.65.65,0,0,1,.35-.84.64.64,0,0,1,.48,1.19A.65.65,0,0,1,98.42,19.46Z'/%3E%3Cpath class='cls-2' d='M100,17.67a.84.84,0,0,1,.45-1.09.85.85,0,0,1,1.09.46.83.83,0,0,1-1.54.63Z'/%3E%3Cpath class='cls-2' d='M98.64,17.73a.45.45,0,0,1,.25-.58.45.45,0,1,1,.33.83A.45.45,0,0,1,98.64,17.73Z'/%3E%3Cpath class='cls-2' d='M90.6,19.37a.45.45,0,0,1,.25-.58.44.44,0,0,1,.58.24.45.45,0,0,1-.25.58A.44.44,0,0,1,90.6,19.37Z'/%3E%3Cpath class='cls-2' d='M97.66,23a.45.45,0,0,1,.83-.33.45.45,0,1,1-.83.33Z'/%3E%3Cpath class='cls-2' d='M85.67,13a.45.45,0,1,1,.59.24A.45.45,0,0,1,85.67,13Z'/%3E%3Cpath class='cls-2' d='M84,8.74a.43.43,0,0,1,.24-.58.45.45,0,1,1-.24.58Z'/%3E%3Cpath class='cls-2' d='M84.52,5.75a.64.64,0,0,1,1.18-.48.64.64,0,1,1-1.18.48Z'/%3E%3Cpath class='cls-2' d='M93.5,6.83a.64.64,0,1,1,1.18-.48.64.64,0,0,1-1.18.48Z'/%3E%3Cpath class='cls-2' d='M89.79,8.7A.64.64,0,1,1,91,8.22a.65.65,0,0,1-.35.83A.63.63,0,0,1,89.79,8.7Z'/%3E%3Cpath class='cls-2' d='M83.65,3.89a1.11,1.11,0,1,1,1.45.61A1.11,1.11,0,0,1,83.65,3.89Z'/%3E%3Cpath class='cls-2' d='M89.74,14.78a.72.72,0,1,1,1.34-.54.73.73,0,0,1-.4.94A.72.72,0,0,1,89.74,14.78Z'/%3E%3Cpath class='cls-2' d='M91.67,19.15A.72.72,0,1,1,93,18.61a.72.72,0,0,1-1.34.54Z'/%3E%3Cpath class='cls-2' d='M85.59,11.66a.72.72,0,1,1,.94.4A.72.72,0,0,1,85.59,11.66Z'/%3E%3Cpath class='cls-2' d='M86.35,8.69a.73.73,0,0,1,.4-.95.72.72,0,1,1-.4.95Z'/%3E%3Cpath class='cls-2' d='M84.28,1.86a.48.48,0,0,1,.27-.62.47.47,0,0,1,.61.27.46.46,0,0,1-.26.61A.48.48,0,0,1,84.28,1.86Z'/%3E%3Cpath class='cls-2' d='M83.22,5a.47.47,0,1,1,.87-.35.47.47,0,1,1-.87.35Z'/%3E%3Cpath class='cls-2' d='M83.09,1.51a.47.47,0,1,1,.62.26A.48.48,0,0,1,83.09,1.51Z'/%3E%3Cpath class='cls-2' d='M86.61,7.15A.65.65,0,0,1,87,6.31a.64.64,0,0,1,.83.36.63.63,0,0,1-.35.83A.65.65,0,0,1,86.61,7.15Z'/%3E%3Cpath class='cls-2' d='M87.06,12.36a.48.48,0,1,1,.62.26A.48.48,0,0,1,87.06,12.36Z'/%3E%3Cpath class='cls-2' d='M88.55,6.42a.48.48,0,0,1,.26-.62.46.46,0,0,1,.61.26.47.47,0,1,1-.87.36Z'/%3E%3Cpath class='cls-2' d='M95.52,15.89a.78.78,0,1,1,1,.42A.78.78,0,0,1,95.52,15.89Z'/%3E%3Cpath class='cls-2' d='M98.09,12.66a.72.72,0,1,1,.94.4A.72.72,0,0,1,98.09,12.66Z'/%3E%3Cpath class='cls-2' d='M95.91,23.09a.72.72,0,1,1,.94.4A.72.72,0,0,1,95.91,23.09Z'/%3E%3Cpath class='cls-2' d='M96,20.25a.48.48,0,0,1,.27-.62.47.47,0,0,1,.61.27.47.47,0,0,1-.26.61A.48.48,0,0,1,96,20.25Z'/%3E%3Cpath class='cls-2' d='M81,4.43a.4.4,0,0,1,.74-.3.4.4,0,0,1-.22.52A.4.4,0,0,1,81,4.43Z'/%3E%3Cpath class='cls-2' d='M82,5.2a.27.27,0,0,1,.5-.2.27.27,0,0,1-.14.35A.28.28,0,0,1,82,5.2Z'/%3E%3Cpath class='cls-2' d='M85.32,2.2a.58.58,0,1,1,1.08-.44.58.58,0,0,1-1.08.44Z'/%3E%3Cpath class='cls-2' d='M72.5,5.57a.34.34,0,0,1,.18-.42.33.33,0,0,1,.43.18.33.33,0,0,1-.18.42A.33.33,0,0,1,72.5,5.57Z'/%3E%3Cpath class='cls-2' d='M93.19,24a.4.4,0,1,1,.52.22A.4.4,0,0,1,93.19,24Z'/%3E%3Cpath class='cls-4' d='M44.19,5.92a1,1,0,0,1-.26-1.44,1,1,0,1,1,1.7,1.19A1,1,0,0,1,44.19,5.92Z'/%3E%3Cpath class='cls-5' d='M44.55,8.36a.9.9,0,0,1,1-1.48.91.91,0,0,1,.23,1.26A.92.92,0,0,1,44.55,8.36Z'/%3E%3Cpath class='cls-2' d='M41.55,5.87a.66.66,0,1,1,.92-.16A.66.66,0,0,1,41.55,5.87Z'/%3E%3Cpath class='cls-2' d='M54.24,2.5a.59.59,0,1,1,.77.32A.58.58,0,0,1,54.24,2.5Z'/%3E%3Cpath class='cls-2' d='M53.4.81A.59.59,0,1,1,54.49.37a.59.59,0,0,1-.32.77A.6.6,0,0,1,53.4.81Z'/%3E%3Cpath d='M163.85,45c-5.45-6-19.35-5.7-29.44-7.45-7-1.2-12.13-7.8-18.12-9.85-9.43-3.22-23.19-1.83-33.05-.95-11.16,1-19.07,5.45-26.38,8.9C63,34.32,70.45,29.17,80.38,28.3c11-1,27.08-1.38,35.27,1.91,5.93,2.37,10.79,7.51,17.48,9.53,5.55,1.67,26.42,2.33,30.72,5.22Z'/%3E%3Cpath class='cls-2' d='M94.82,24.43a.72.72,0,1,1,.94.4A.72.72,0,0,1,94.82,24.43Z'/%3E%3Cpath class='cls-2' d='M92.35,25a.44.44,0,0,1,.24-.58.45.45,0,0,1,.58.24.44.44,0,0,1-.82.34Z'/%3E%3Cpath class='cls-2' d='M97,24.45a.63.63,0,0,1,.35-.82.63.63,0,1,1,.48,1.17A.63.63,0,0,1,97,24.45Z'/%3E%3Cpath class='cls-2' d='M101,23.93a.45.45,0,0,1,.25-.58.44.44,0,0,1,.58.24.45.45,0,0,1-.25.58A.45.45,0,0,1,101,23.93Z'/%3E%3Cpath class='cls-2' d='M98.52,24.09a.32.32,0,0,1,.17-.41.31.31,0,1,1-.17.41Z'/%3E%3Cpath class='cls-2' d='M60.22,30.9a.52.52,0,1,1,.67.29A.52.52,0,0,1,60.22,30.9Z'/%3E%3Cpath class='cls-2' d='M63.41,30.37a.32.32,0,0,1,.18-.41.31.31,0,0,1,.41.17.32.32,0,0,1-.17.42A.32.32,0,0,1,63.41,30.37Z'/%3E%3Cpath class='cls-2' d='M59.63,31.49a.24.24,0,0,1,.13-.31.24.24,0,0,1,.31.13.23.23,0,0,1-.13.31A.25.25,0,0,1,59.63,31.49Z'/%3E%3Cpath class='cls-2' d='M57.23,32.41a.7.7,0,1,1,.92.37A.7.7,0,0,1,57.23,32.41Z'/%3E%3Cpath class='cls-2' d='M58.88,32.58a.61.61,0,0,1,.31-.8.6.6,0,1,1,.48,1.11A.6.6,0,0,1,58.88,32.58Z'/%3E%3Cpath class='cls-2' d='M102.07,24a.65.65,0,0,1,.35-.85.66.66,0,0,1,.85.36.65.65,0,0,1-.36.84A.64.64,0,0,1,102.07,24Z'/%3E%3Cpath class='cls-2' d='M99.93,24.48a.31.31,0,1,1,.4.17A.3.3,0,0,1,99.93,24.48Z'/%3E%3Cpath d='M5.53,75V59.51H0V56.69H14.26v2.82H8.73V75Z'/%3E%3Cpath d='M22.31,65.83a9.05,9.05,0,0,1,9.33-9.44A9.06,9.06,0,0,1,41,65.83a9.05,9.05,0,0,1-9.33,9.44A9,9,0,0,1,22.31,65.83Zm15.38,0c0-3.78-2.38-6.59-6-6.59s-6.05,2.81-6.05,6.59,2.35,6.6,6.05,6.6S37.69,69.58,37.69,65.83Z'/%3E%3Cpath d='M54.57,75V59.51H49.05V56.69H63.31v2.82H57.78V75Z'/%3E%3Cpath d='M83.86,75l-1.34-3.51H74.14L72.8,75H69.16l7.17-18.26h4L87.5,75Zm-5.53-15-3.28,8.7h6.57Z'/%3E%3Cpath d='M96.34,75V56.69h3.2V72.13h8V75Z'/%3E%3Cpath class='cls-2' d='M131,75,128.2,63.51,125.43,75h-5l-5.23-18.26h5.28l2.77,12.18,3.12-12.18H130l3.12,12.18,2.74-12.18h5.31L135.94,75Z'/%3E%3Cpath class='cls-2' d='M160.74,75l-.9-2.63h-7.2L151.73,75H146.4l6.87-18.26h5.91L166.08,75Zm-4.52-13.61-2.32,6.87h4.65Z'/%3E%3Cpath class='cls-2' d='M172.84,72.37l2.49-3.53a8.22,8.22,0,0,0,5.83,2.41c1.61,0,2.6-.63,2.6-1.5,0-2.49-10.35-.5-10.35-7.53,0-3.07,2.6-5.8,7.28-5.8A11.13,11.13,0,0,1,188.11,59l-2.57,3.37a8.61,8.61,0,0,0-5.34-1.89c-1.37,0-2,.55-2,1.31,0,2.33,10.32.63,10.32,7.42,0,3.67-2.71,6.1-7.61,6.1A11.11,11.11,0,0,1,172.84,72.37Z'/%3E%3Cpath class='cls-2' d='M209.87,75V67.61h-7.58V75h-4.71V56.69h4.71v6.82h7.58V56.69h4.7V75Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 214px;
      height: 75px;
      background-size: cover;
      display: block;
      margin-bottom: 50px;
    }
    p {
      font-size: 30px;
      color: black;
      font-family: proxima-nova, sans-serif;
      font-weight: 300;
      margin-bottom: 18px;
      em{
        color: #A41724;
        font-style: normal;
        font-weight: 600;
      }
    }
  }
}


.node-type-landing-page{
  .main-container{
    padding: 0px;
    > .row{
      margin-left: 0px!important;
      margin-right: 0px!important;
    }
  }
  .col-sm-12{
    padding: 0px;
  }
  #block-system-main{
    margin-left: 0px!important;
    margin-right: 0px!important;
    padding: 0px;
    padding-left: 0px!important;
    padding-right: 0px!important;

  }
  .field-name-body{
    p{
      text-align: left;
      font-family: proxima-nova, sans-serif;
      font-weight: 300;
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 40px;
      strong{
        background: @main-color;
        color: white;
        display: block;
        padding: 20px;
        font-size: 18px;
      }
    }
  }

  figure{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    figcaption{
      margin-left: 0;
      margin-right: auto;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      @media (min-width: 1024px){

        max-width: 43%;
      }
      .inner-fig{
        height: 100%;
        padding-left: 35px;
        padding-right: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 640px){
          padding-left: 115px;
          padding-right: 75px;
        }
        .inner-inner{
          max-width: 330px;
          margin: 0 auto;
        }
      }
    }
  }
}
.under-wrapper{
  @media (min-width: 640px){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .field-name-field-tielt,.field-name-field-wingene{
    margin-bottom: 25px;
    @media (min-width: 640px){
      margin-bottom: 0px;
      margin-right: 40px;
    }
    .even{
      > p{
        margin-bottom: 14px;
        a{
          color: white;
          text-transform: uppercase;
          background-color: #A41724;
          display: inline-block;
          padding: 3px 8px;
          font-family: "Nexa Bold";
        }
      }
      ul{
        list-style-type:none;
        margin: 0;
        padding: 0px;
        li{
          text-align: left;
          font-family: "Nexa Light";
          font-size: 15px;
          line-height: 24px;
          &::before{
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.86 10.31'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23a41724;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.38px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpolyline class='cls-1' points='1.19 4.52 5.02 9.12 9.67 1.19'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            width: 16px;
            height: 16px;
            background-size: cover;
            display: inline-block;
            margin-right: 8px;
          }
        }
      }
    }
  }
  .field-name-field-wingene{
    @media (min-width: 640px){
      margin-right: 0px;
    }
  }
}


.slider-container{
 max-height: 680px;

}
.backstretch{

}

#navbar{
  //max-height: 102px;
  .container{
    @media (min-width: 768px){
      max-width: 725px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: none;
      > div{
        padding-right:0px;
        padding-left: 0px;
      }
      .navbar-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 6Px;
        a{
          margin-top: 0px;
          margin-bottom: 0px;
        }
        img{
          margin-right: auto;
          margin-left: 0px!important;
        }
      }
    }

    @media (min-width: 1024px){
      max-width: 1000px;
      flex-direction: row;
      > .navbar-header{
       // margin-left: -100px;
      }
      > .navbar-collapse{
       // margin-right: -100px;
        width: 100%;
      }
    }

    nav[role="navigation"] {
      > ul.menu {
        @media (min-width: 768px) {
          width: 100% !important;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-end;
          li {
            width: auto !important;
            margin-right: 45px;
          }
        }

        a {
          font-family: "Nexa Light";
          text-transform: uppercase;
          color: black;
          padding-left: 0px;
          font-size: 13px;
          padding-right: 0px;
          letter-spacing: 1px;
          transition: 0.3s ease;
          &:hover{
            font-family: "Nexa Bold";
            color: #A41724;
          }
          @media (min-width: 768px) {
            padding-bottom: 0px !important;
          }
          @media (min-width: 1300px) {
            padding-bottom: 0px !important;
          }
        }

        a.active {
          font-family: "Nexa Bold";
          color: #A41724;
        }

        li.last {
          @media (min-width: 768px){
            margin-right: 0px;
          }

          a {
            padding-right: 0px;
          }
        }
      }
    }
  }
}

.site-switch{
  li{
    width: auto!important;
  }
  a{
    font-family: "Nexa Light";
    text-transform: uppercase;
    color: black;
    padding-left: 0px!important;
    padding-top: 0px!important;
    letter-spacing: 1px;
    padding-bottom: 0px!important;
    @media (min-width: 768px){
      padding: 0px 10px!important;
    }
  }
  .first.leaf{
    a{
      font-family: "Nexa Bold";
      color: #A41724!important;
      text-decoration: underline;
      padding-right: 0px!important;
    }
  }
}

#block-views-footer-quote-block{
  font-size: 38px;
  font-family: "Nexa Bold";
  line-height: 38px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  p{
    margin-bottom: 0px;
  }
  @media (min-width: 768px){
    margin-top: 0px;
  }
}

.group-troeven-display{
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.front {
  h1.page-header {
    display: none;
  }
}

#block-block-2{
  margin-bottom: 100px;
  h1{
    font-size: 37px;
    text-transform: none;
    color: black;
    font-family: "Nexa Light";
    text-align: center;
    margin-bottom: 25px;
    @media screen and (min-width: 768px){
      &:before,&:after{
        content: "";
        width: 60px;
        height: 2px;
        background-color: @main-text-color;
        display: inline-block;
        z-index: 9999;
        margin-bottom: 10px;
      }
      &:before{
        margin-right: 20px;
      }
      &:after{
        margin-left: 20px;
      }

    }
    em{
      color: #A41724;
      font-style: normal;
      font-family: "Nexa Bold";
    }
  }
  p{
    max-width: 775px;
    margin: 0 auto;
    span{
    font-size: 15px;
      line-height: 24px;
      color: #999999!important;
      text-align: center;
      font-weight: 300;
      font-family: "proximanova", Helvetica, Arial, sans-serif!important;
      display: block;
    }
  }
}

.page-node-10,.page-node-11{
  .node-basis-pagina{
    > .row.in{
      background-color: #A41724;
      @media (min-width: 768px){
        display: flex;
      }
      div.col-sm-6:first-of-type{
        position: relative;
        &::after{
          content: "";
          width: calc(100% - 15px);
          height: 1px;
          background-color: white;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          bottom: 0px;
          @media (min-width: 768px){
            right: 0;
            top: 0;
            width: 1px;
            height: 75%;
            left: auto;
            margin: auto;
          }
        }
      }
      div.col-sm-6:nth-of-type(2){
        @media (min-width: 768px){
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
    .col-sm-6{
      @media (min-width: 1024px){
        margin-bottom: 40px;
      }
    }
    .field-name-field-titel-body-links{
      margin-bottom: 25px;
      .field-item.even{
        font-size: 25px;
        line-height: 24px;
        font-weight: 600;
        color: white;
      }
    }
    .field-name-field-uitleg{
      max-width: 250px;
      p{
        color: white;
        line-height: 24px;
        font-size: 15px;
        margin-bottom: 35px;
        &:last-of-type{
          margin-bottom: 0px;
        }
      }
    }
    .field-name-field-gegevens{
      p{
        font-size: 15px;
        color: white;
        line-height: 24px;
      }
    }
  }

}

.page-node-10,.page-node-3,.page-node-21{
  h1.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px!important;
    padding-right: 0px!important;
    max-width: 1000px;
    margin: 0 auto!important;
    margin-top: 80px!important;
    &::after,&::before{
      display: none;
    }
    position: relative;
    .car-logo{
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 141.66 86.07'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:%23fff%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath d='M14.13 64.4a4 4 0 118.07 0 4.25 4.25 0 01-.2 1.29c12.05.38 29.5-1.4 49.73-10.61a12.36 12.36 0 00-2.33-1.89s-4-11.51-5.23-14.35-3-6.84-8.53-6.84H28.93c-5.53 0-7.33 4-8.52 6.88s-5.23 14.35-5.23 14.35S9.94 56.16 7.87 64c1.59.35 3.72.74 6.33 1a3.94 3.94 0 01-.07-.6zm12-23.47c1.19-2.54 1.34-3 11.21-3H47V38l.15-.08c9.87 0 10 .45 11.21 3s3.89 10.76 3.89 10.76H22.2s2.69-8.21 3.89-10.75z' fill='%23f5f5f5'/%3E%3Cpath class='cls-2' d='M7.7 76.65h5.68v4.56a4.86 4.86 0 009.72 0v-4.56h38v4.56a4.86 4.86 0 109.71 0v-4.56h6v-12a19.77 19.77 0 00-5.14-9.62C51.49 64.29 34 66.07 22 65.69a4 4 0 01-7.79-.6c-2.61-.31-4.74-.7-6.33-1-.06.22-.11.43-.17.66zm58.59-16.29a4 4 0 11-4 4 4 4 0 014-4zM59.44 4.21a6.05 6.05 0 00-3.87 1.4 8.19 8.19 0 00-5-1.66 8.28 8.28 0 107.31 12.14 5.79 5.79 0 001.51.2 6 6 0 100-12.08zm-8.82 14.41A6.39 6.39 0 1154.33 7a6.23 6.23 0 011.39 1.37A6.32 6.32 0 0157 12.23a6.77 6.77 0 01-.12 1.28 6.52 6.52 0 01-.69 1.83 6.39 6.39 0 01-5.57 3.28zm8.82-4.22a4.38 4.38 0 01-.82-.08 8.49 8.49 0 00.27-2.09A8.22 8.22 0 0057 6.92a4.15 4.15 0 112.48 7.48zM34.26 12.08a6 6 0 116-6 6 6 0 01-6 6zm0-10.19A4.15 4.15 0 1038.41 6a4.15 4.15 0 00-4.15-4.11zM59.54 24.09A11.79 11.79 0 0169.77 30a11.45 11.45 0 011.41 4.06 11.53 11.53 0 01.14 1.77 10.88 10.88 0 01-.06 1.17 11.19 11.19 0 01-.64 2.83c.39.67.79 1.34 1.2 2a13.44 13.44 0 001.25-4.08 5.49 5.49 0 001.08.11 5.15 5.15 0 10-3.05-9.26 13.66 13.66 0 00-23.51.63h2.22a11.79 11.79 0 019.73-5.14zm14.61 5.39a3.26 3.26 0 11-.94 6.38A13.56 13.56 0 0072 30.28a3.28 3.28 0 012.15-.8zM11.31 52a6.23 6.23 0 01-2.22-7.1l.31-.73a6.25 6.25 0 015.6-3.48h.94V38.8H15a8.15 8.15 0 00-7.31 4.57 11 11 0 015.19-20.65 10.77 10.77 0 014.17.83 9 9 0 002.75 9.38l.37.33c.39-.48.81-1 1.25-1.42L21 31.5a7.12 7.12 0 01-2-8l.45-.88a7.14 7.14 0 0113.39 3.48 7 7 0 01-.44 2.49l-.24.64h2a9 9 0 00.56-3.13 8.52 8.52 0 00-.1-1.24h.77A7.13 7.13 0 0142 29.18v.05h2.05l-.33-.78a9 9 0 00-8.32-5.52 8.48 8.48 0 00-1.23.09 9 9 0 00-16.41-1.22 12.73 12.73 0 00-4.89-1 12.86 12.86 0 00-5.82 24.37 7.94 7.94 0 00-.2 1.77 8.18 8.18 0 003.34 6.58l.3.21 1.19-1.47z'/%3E%3Cpath class='cls-2' d='M5.05 34.64H5a.94.94 0 01-.91-1c.09-2.91 2-8.43 8.51-8.43a1 1 0 010 1.9c-6.29.03-6.6 6.35-6.6 6.62a1 1 0 01-.95.91zM10.72 48.91a.94.94 0 01-.91-1 5.8 5.8 0 015.91-5.84.95.95 0 010 1.89c-3.75 0-4 3.6-4 4a1 1 0 01-1 .95zM22 28.55a.94.94 0 01-.91-1A5.8 5.8 0 0127 21.73a.95.95 0 010 1.9c-3.75 0-4 3.6-4 4a1 1 0 01-1 .92zM46.81 14.42a1 1 0 01-.92-1 5.81 5.81 0 015.88-5.82.95.95 0 110 1.9c-3.75 0-4 3.6-4 4a1 1 0 01-.96.92zM33.4 29.14a1 1 0 01-.67-.27 1 1 0 010-1.34c.16-.16 1.64-1.53 4.66-.84a.94.94 0 11-.39 1.84 3.33 3.33 0 00-2.9.34 1 1 0 01-.7.27z'/%3E%3Cpath d='M79.53 53.29c1 2.47 2.34 4.65 3.49 7.23a36.11 36.11 0 00.91-4.65 5.13 5.13 0 00-.25-.61c4-2.57 8.75-5.71 12.88-8.22.22.4.43.8.63 1.21 7.29-4.72 20.3-12.79 27.94-17.88q.34.45.69.84c1.38-1.6 2.35-.36 3.13 1.21.94 1.9 2.18 4.8 3.3 6.63a4.32 4.32 0 001.51 1.79c2.49 0 6-2.37 7.9-4.88-3.11-6.58-6-11.85-9.4-18-2.75 1.79-7 3.93-9.18 7a10.75 10.75 0 00.19 1.46C115.69 31 102.8 39.47 95.1 44.11c.24.56.5 1.09.76 1.6a910.85 910.85 0 01-12.83 8.21 2.89 2.89 0 01-.11-.35c-1.17-.06-2.3-.49-3.39-.28zm48.36-27.4a2.55 2.55 0 011.42-1.59c1.32 2.19 2.55 4.72 3.79 7.32a6.61 6.61 0 001.26 1.82 42.72 42.72 0 00-1.78-6c-.77-.85-1.28-2.86-2.09-3.7a15.93 15.93 0 001.61-.77c2.25 3.83 4.31 8.19 6.5 12.19-1.52 1.72-4 3.59-5.3 2.09-1.65-1.86-2.82-6.75-4-8.4-.41-.7-1.62-1.39-1.41-2.96z' fill-rule='evenodd' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-size: cover;
      width: 141px;
      background-color: #A41724;
      height: 86px;
      //position: absolute;
      right: 0;
      margin-top: -30px;
    }
    .span-line{
      background-color: white;
      //position: absolute;
      //top: 20px;
      //width: 100%;
      //left: 0;
      height: 2px;
      margin-top: 18px;
      width: 100%;
      max-width: 335px;
      display: none;
      @media(min-width: 1000px){
        display: block;
      }
    }

    text-align: left;
    color: #FFFFFF;
  }
}

.page-node-10 #block-system-main ,.page-node-3 #block-system-main,.page-node-21 #block-system-main{
  @media (min-width: 1024px){
    padding-left: 0!important;
    padding-right: 0px!important;
    max-width: 1000px;
    margin: 0 auto!important;
  }

}

.page-node-11{
  .footer.container-fluid{
    margin-top: 75px;
  }
  .node-shop-info{
    h3{
      text-transform: uppercase;
    }
  }
  .field-name-field-uitleg{
    max-width: 475px!important;
  }
  .main-container{
    background-color: @main-color;
  }
  #block-system-main{
    @media (min-width: 1024px){
      padding-left: 0px!important;
      padding-right: 0px!important;
      max-width: 1000px;
      margin: 0 auto!important;
    }
  }
  #block-views-shop-info-block{
    @media (min-width: 1024px) {
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-top: 50px!important;
      padding-bottom: 50px!important;
      .view-id-shop_info{
        max-width: 1000px;
        margin: 0 auto!important;
      }
    }
  }
  h1{
color: white;
    &::after,&::before{
      background-color: white;
    }
  }
  .field-name-body,.field-name-field-uitleg,.field-name-field-gegevens,.views-field-field-softwash-troeven{
    p,li,td{
color: white;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
    }
  }
  #block-views-shop-info-block{
    background-color: white;
    position: relative;
    .field-type-image{
      img{
        padding: 15px;
        background-color: white;
        @media (min-width: 1024px){
          min-width: 475px;
        }
      }
    }
    .field-name-body{
      ul{
        padding: 0px;
        margin-left: 10px;
        list-style-type: none;
      }
      p,li,td{
        color: #999999;
        font-family: "Nexa Light";
        font-size: 15px;
        font-weight: 300;
      }
      li{
        &::marker{
          content: "";
          font-size: 2em;
          color: @main-color;
          font-family: "Nexa Light";
          font-size: 15px;
          font-weight: 300;
          display: none;
        }
        list-style-type: none;
        &::before{
          content: ".";
          color: @main-color;
          font-size: 2em;
          margin-bottom: -18px;
          display: block;
          margin-left: -20px;
        }
        padding-left: 8px;

      }
    }

  }

  .node-basis-pagina {
    > .row.in {
      .field-name-field-gegevens{
        .even{
          table{

              margin-bottom: 25px;

          }
        }
      }
      @media (min-width: 1024px) {
        //display: flex;
        max-width: 1000px;
        margin: 0 auto;
      }

      div.col-sm-6:first-of-type {
        @media (min-width: 768px) {
          padding-left: 0px!important;
          padding-right: 85px;
          &::after{
            height: 85%;
          }
        }
      }

      div.col-sm-6:nth-of-type(2) {
        @media (min-width: 768px) {
          padding-left: 50px;
          justify-content: flex-start;
        }
      }
    }

    .col-sm-6 {
      @media (min-width: 1024px) {

      }
    }
  }
  #block-views-pagina-body-onder-block{
    background-color: white;
    h2{
      background-color: white;
      color: @main-color;
      padding-left: 0px;
      margin-top: 65px;
    }
    p,li{
      color: #999999;
    }
    li::marker{

      display: none;
    }

    li{
      padding-left: 8px;
      list-style-type: none;
      margin-bottom: 15px;
      &::before{
        content: ".";
        color: @main-color;
        font-size: 2em;
        margin-bottom: -18px;
        display: block;
        margin-left: -20px;
      }
    }
    .views-field-field-softwash-troeven{
      padding-bottom: 25px;
      @media (min-width: 768px){
        padding-bottom: 75px;
      }
      .field-content{
        position: relative;
        @media (min-width: 768px){
          max-width: 320px;
        }
        @media (min-width: 1024px){
          max-width: 512px;
        }
        &::after{
          content: "";
          background-image: url("../fototankkaart.png");
          display: block;
          width: 400px;
          height: 305px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-left: -54px;
          @media (min-width: 768px){
            position: absolute;
            top: 0;
            left: calc(100%);
            height: 100%;
            background-position: center;
            margin-left: 40px;
          }
        }
      }
    }
  }
}

.page-node-12{
  .page-header{
    display: none;
  }
  h1{
    font-size: 30px;
    text-transform: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 70px;
    @media screen and (min-width: 768px){
      &:before,&:after{
        content: "";
        width: 75px;
        height: 2px;
        background-color: @main-text-color;
        display: inline-block;
        z-index: 9999;
        margin-bottom: 10px;
      }
      &:before{
        margin-right: 45px;
      }
      &:after{
        margin-left: 45px;
      }

    }
    em{
      color: #A41724;
      font-style: normal;
      font-family: "Nexa Bold";
    }
  }
}

.page-node-3,.page-node-21{
  #block-views-tips-block.block-views.clearfix{
    margin-bottom: 50px;
    @media (min-width: 1024px){
      padding-left: 0px!important;
      padding-right: 0px!important;
      max-width: 1000px;
      margin-left: auto!important;
      margin-right: auto!important;
      margin-bottom: 125px;
      background-color: transparent!important;
    }
  }

  .view-id-tips{
    h2 {
      a {
        color: @main-color;
        background-color: white;
        display: inline-block;
        padding: 15px;
        margin-bottom: 25px;
      }
    }
    #node-14,#node-22{
      background-color: @main-color;
      padding: 60px;
      max-width: 825px;
      @media(min-width: 1024px){
        min-height: 600px;
      }
      header{
        max-width: 380px;
      }
      .field-name-body{

          max-width: 380px;

        p{
          font-weight: 400;
          font-size: 15px;
          color: white;
          line-height: 24px;
        }
      }
      .field-name-field-video-left{
        >.field-label{
          display: none;
        }

        iframe{
          width: 100%!important;
          @media (min-width: 1024px) {
            width: 470px!important;
            height: 260px!important;
          }
        }
        margin-top: 25px;
        @media (min-width: 1024px){
          position: absolute;
          right: 0;
          margin-top: 0px;
          top: 185px;
          transform: rotate(10deg);
        }
      }
    }
    #node-14{
      .field-name-body{
        .even{
          h3{
            color: @main-color;
            background-color: white;
            display: inline-block;
            padding: 15px;
            margin-bottom: 25px;
          }
        }
      }
    }
  }

  .row{
    > .col-sm-12{
      position: relative;
      &::after{
        content: "";
        width: 100vw;
        height: 165px;
        display: block;
        position: absolute;
        left: 0;
        top: -65px;
        visibility: visible;
        background-color: @main-color;
        @media (min-width: 768px){
          top: 0;
        }
      }
    }
  }

  .views-field-field-softwash-troeven{
    > .field-content{
      > table{
        width: 100%!important;
        @media (min-width: 1024px){
          width: 1000px;
        }
        > tbody{
          > tr{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            @media(min-width: 1024px){
              flex-direction: row;
              justify-content: center;
            }
            > td{
              border: solid 2px white;
              @media(min-width: 1024px){
                min-width: 500px;
              }
            }
          }
        }
      }
    }
    table{
      margin: 0 auto;
      margin-top: 10px;
      border: solid 2px white;
      table{
        border: solid 0px white!important;
      }
    }
    tr{
      td{
        background-color: #F5F5F5;
        h3{
          font-weight: 500;
          text-transform: uppercase;
          color: @main-color;
          text-align: center;
          font-size: 24px;
        }
        p,li,span,.field-item,td{
          font-weight: 300;
          font-size: 17px;
          color: black;
          line-height: 20px;
          text-align: center;
        }
        td{
          padding-left: 50px;
          text-align: left;
          &:first-of-type{
            padding-left: 0px;
          }
        }
        ol{
          padding-left: 30px;
          max-width: 485px;
          margin: 0 auto;
          @media (min-width: 1024px){
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            max-width: 500px;
          }
          li{
            font-size: 11px!important;
            text-transform: uppercase!important;
            font-weight: 500!important;
            padding-left: 0px!important;
            margin-left: 21px!important;
            margin-right: 8px!important;
            text-align: left!important;
            letter-spacing: 0px;
            @media (min-width: 1024px){
              text-align: left!important;
            }
            font-family: proxima-nova;
            &::before{
              font-size: 14px!important;
              width: 18px!important;
              background-size: cover!important;
              height: 18px!important;
              line-height: 19px!important;
              left: -25px!important;
            }
          }
        }
      }
      td:first-of-type{

      }
      td:nth-of-type(2){
        @media (min-width: 1024px){
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }

  h1.page-header{
    z-index: 2;
    margin-top: 65px!important;
    .span-line{
      max-width: 315px!important;
    }
    .car-logo{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 98.69 72.12'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:%23fff%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Cpath d='M29 52.33a2.93 2.93 0 115.85 0 2.88 2.88 0 01-.15.93c8.74.28 21.41-1 36.08-7.69a8.79 8.79 0 00-1.69-1.38s-2.93-8.35-3.8-10.41-2.17-5-6.18-5H39.72c-4 0-5.31 2.92-6.18 5s-3.79 10.41-3.79 10.41-3.8 2.16-5.31 7.88c1.16.25 2.7.53 4.59.76a2.74 2.74 0 01-.03-.5zm8.67-17c.87-1.84 1-2.17 8.14-2.17h7v.06l.11-.06c7.16 0 7.27.33 8.14 2.17s2.82 7.81 2.82 7.81H34.84s1.95-5.99 2.82-7.84z' fill='%23f5f5f5'/%3E%3Cpath class='cls-2' d='M24.32 61.22h4.12v3.31a3.53 3.53 0 007.05 0v-3.31h27.6v3.31a3.53 3.53 0 007 0v-3.31h4.41v-8.68a14.25 14.25 0 00-3.73-7c-14.67 6.68-27.34 8-36.08 7.69a2.93 2.93 0 01-5.69-.4 51.25 51.25 0 01-4.59-.76l-.12.47zM66.83 49.4a2.93 2.93 0 11-2.92 2.93 2.93 2.93 0 012.92-2.93zM19.08 26.21a2.59 2.59 0 00-2.59-2.59h-2.58l3.54-2a2.59 2.59 0 00-1-5H2.59a2.59 2.59 0 100 5.17h2.58l-3 1.84a2.59 2.59 0 00.38 5.15h2.62l-3 1.84a2.58 2.58 0 00.38 5.14h2.62l-3 1.84a2.58 2.58 0 00.38 5.14h2.62l-3 1.84a2.58 2.58 0 00.38 5.14h2.62l-3 1.84a2.59 2.59 0 00.38 5.15h2.62l-3 1.84a2.58 2.58 0 00.38 5.14h13.9a2.59 2.59 0 100-5.17h-2.54l3.54-2a2.59 2.59 0 00-1-5h-2.54l3.54-2a2.59 2.59 0 00-1-5h-2.54l3.54-2a2.59 2.59 0 00-1-5h-2.54l3.54-2a2.58 2.58 0 00-1-5h-2.54l3.54-2a2.59 2.59 0 001.63-2.31zM98.69 26.21a2.59 2.59 0 00-2.58-2.59h-2.59l3.54-2a2.59 2.59 0 00-1-5H82.2a2.59 2.59 0 100 5.17h2.58l-3 1.84a2.59 2.59 0 00.38 5.15h2.58l-3 1.84a2.58 2.58 0 00.38 5.14h2.58l-3 1.84a2.58 2.58 0 00.38 5.14h2.58l-3 1.84a2.58 2.58 0 00.38 5.14h2.58l-3 1.84a2.59 2.59 0 00.38 5.15h2.58l-3 1.84a2.58 2.58 0 00.38 5.14h14.15a2.59 2.59 0 000-5.17h-2.59l3.54-2a2.59 2.59 0 00-1-5h-2.54l3.54-2a2.59 2.59 0 00-1-5h-2.54l3.54-2a2.59 2.59 0 00-1-5h-2.54l3.54-2a2.58 2.58 0 00-1-5h-2.54l3.54-2a2.58 2.58 0 001.63-2.31zM88.42 6.64H10.31c-1.51 0-3.16.3-3.16 1.51v5.7h4.66V11.3h75.1v2.55h4.66v-5.7c0-1.21-1.65-1.51-3.15-1.51zM12.1 65.15h-5v4.47a2.5 2.5 0 105 0zM91.65 65.15h-5v4.47a2.5 2.5 0 005 0z'/%3E%3Cpath class='cls-2' d='M64.25 19.08a2.59 2.59 0 002.59-2.59v-2.58l2 3.54a2.59 2.59 0 005-1V2.59a2.59 2.59 0 10-5.17 0v2.58l-1.84-3a2.59 2.59 0 00-5.15.38v2.62l-1.84-3a2.58 2.58 0 00-5.14.38v2.62l-1.84-3a2.58 2.58 0 00-5.14.38v2.62l-1.84-3a2.58 2.58 0 00-5.14.38v2.62l-1.84-3a2.59 2.59 0 00-5.15.38v2.62l-1.84-3a2.58 2.58 0 00-5.14.38v13.9a2.59 2.59 0 105.17 0v-2.54l2 3.54a2.59 2.59 0 005-1v-2.54l2 3.54a2.59 2.59 0 005-1v-2.54l2 3.54a2.59 2.59 0 005-1v-2.54l2 3.54a2.58 2.58 0 005-1v-2.54l2 3.54a2.59 2.59 0 002.31 1.63z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 103px;
      height: 75Px;
      margin-top: -22px;
    }
  }

  #block-system-main{
    margin-top: 50px!important;
    padding-bottom: 0px;
    .node-basis-pagina{
      > .row{
        > .col-sm-6{
          .field-name-field-titel-body-links{
            display: none;
          }
          .field-name-field-uitleg,.field-name-field-gegevens{
            h2{
              font-weight: 600;
              font-size: 25px;
              line-height: 24px;
            }
            p{
              font-weight: 400;
              font-size: 15px;
              color: #999999;
              line-height: 24px;
            }
          }
        }
      }
    }



  }
  .view-pagina-body-onder{
    .views-field-field-titel-body-onder{
      display: none;
    }
  }
  .node-flashbericht{
    .content{
      .content{
        display: flex;
      }
    }
    @media (min-width: 1024px){
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        .field-group-div {
          width: 500px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
  #block-views-flashbericht-block{
    background-image: none;
    background-color: white;
    @media (min-width: 1024px){
      padding-left: 0px!important;
      padding-right: 0px!important;
    }
    h2.block-title,h3{
      display: none;
    }
    .field-group-format-title{
      display: none;
    }
    .group-right-div > h3{
      display: none;
    }
    .node-flashbericht{
      > header{
        display: none;
      }
    }
    h2,.even > p{
      font-weight: 600;
      text-transform: uppercase;
      color: white;
      background-color: @main-color;
      font-size: 25px;
      display: block;
      line-height: 24px;
      padding: 12px;
      text-align: left;
      margin-bottom: 30px;
      max-width: 300px;
      margin-left: 0;
      margin-right: auto;
    }
    p,li{
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #999999;
    }
    ul{
      padding-left: 0px;
    }
    li{
      vertical-align: middle;
      align-content: center;
      align-items: center;
      display: flex;
      list-style-type:none;
      position: relative;
      min-height: 66px;
      text-align: left;
      margin-bottom: 50px;
      padding-left: 85px;

      &::before{
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.52 66.52'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:%23fff%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.26' cy='33.26' r='33.26' fill='%23a41724'/%3E%3Ccircle class='cls-2' cx='39.93' cy='26.53' r='1.72'/%3E%3Crect class='cls-2' x='36.62' y='28.79' width='6.48' height='6.48' rx='3'/%3E%3Cpath class='cls-2' d='M17.42 41.33H20v2.08a2.22 2.22 0 004.44 0v-2.08h17.4v2.08a2.22 2.22 0 004.44 0v-2.08h2.75v-5.47a9.09 9.09 0 00-2.35-4.4A50.86 50.86 0 0124 36.31a1.85 1.85 0 01-3.61-.31c-1.19-.14-2.16-.32-2.89-.48 0 .1-.05.2-.08.3zm26.8-7.45a1.85 1.85 0 11-1.85 1.84 1.84 1.84 0 011.85-1.84zM57.81 45.63V23.74a3.31 3.31 0 00-3.3-3.3 3.3 3.3 0 00-3.3 3.3v21.89zM47.21 28.17l-7 2a.78.78 0 01-1-.54.77.77 0 01.53-1l7-2a.77.77 0 011 .54.78.78 0 01-.53 1z'/%3E%3Cpath d='M45.39 29.91H24.05s1.23-3.76 1.78-4.92.62-1.37 5.13-1.37h12.1a3.85 3.85 0 00-3.72-2.73H27.13c-2.53 0-3.35 1.85-3.9 3.14s-2.39 6.57-2.39 6.57a8.19 8.19 0 00-3.34 5c.73.16 1.7.34 2.89.48a3.16 3.16 0 010-.32 1.85 1.85 0 013.69 0 1.87 1.87 0 01-.09.59 50.86 50.86 0 0022.71-4.89 5.42 5.42 0 00-1.07-.86s-.09-.27-.24-.69z' fill='%23f5f5f5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size: cover;
        width: 66px;
        height: 66px;
        position: absolute;
        top: 0;
        left: 0;
      }
      &::after{
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.12 19.6'%3E%3Cg data-name='Laag 2'%3E%3Cpath fill='%23a41724' d='M14.24 9.54V0H5.88v9.54H0L10.06 19.6 20.12 9.54h-5.88z' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
        width: 20px;
        height: 19px;
        background-size: cover;position: absolute;
        bottom: -34px;
        left: 23px;
      }
      &:last-of-type{
        &::after{
          display: none;
        }
      }
    }
    .field-type-video-embed-field{
      max-width: 435px;
      max-height: 235px;
      margin: 0 auto;
      @media (min-width: 1024px){
        margin-left: 0;
      }
      iframe{
        max-width: 435px;
        max-height: 235px;
      }
    }
    .group-right-div.field-group-div{
      margin-bottom: 25px;
      @media (min-width: 1024px){
        margin-bottom: 0px;
      }
    }
    .group-right-div{
      .even{
        ul{
          li{
            &::after{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.12 19.6'%3E%3Cg data-name='Laag 2'%3E%3Cpath fill='%23000000' d='M14.24 9.54V0H5.88v9.54H0L10.06 19.6 20.12 9.54h-5.88z' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
            }
          }
          li:nth-of-type(1){
            &::before{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.55 66.55'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.28' cy='33.28' r='33.28'/%3E%3Crect class='cls-1' x='18' y='28.67' width='3.02' height='21.92' rx='1.51'/%3E%3Crect class='cls-1' x='23.68' y='28.67' width='3.02' height='21.92' rx='1.51'/%3E%3Cpath class='cls-1' d='M21.63,20.46h0a5.06,5.06,0,0,1,5.06,5.06v6.75a5.06,5.06,0,0,1-5.06,5.06h0A3.63,3.63,0,0,1,18,33.7v-9.6a3.63,3.63,0,0,1,3.63-3.63Z'/%3E%3Ccircle class='cls-1' cx='22.28' cy='15.71' r='3.49'/%3E%3Crect class='cls-1' x='20.62' y='20.46' width='16.92' height='3.02' rx='1.51'/%3E%3Cpath class='cls-1' d='M49.42,50.59V19.18a4.74,4.74,0,0,0-4.73-4.73h0A4.75,4.75,0,0,0,40,19.18V50.59Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
          li:nth-of-type(2){
            &::before{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.55 66.55'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.28' cy='33.28' r='33.28'/%3E%3Cpath class='cls-1' d='M35.07,15.75a1.7,1.7,0,0,1-3.39,0c0-.94.78-1.22,1.69-3.06C34.06,14.47,35.07,14.81,35.07,15.75Z'/%3E%3Cpath class='cls-1' d='M35.07,8.47a1.7,1.7,0,1,1-3.39,0c0-.93.78-1.21,1.69-3.06C34.06,7.2,35.07,7.54,35.07,8.47Z'/%3E%3Cpath class='cls-1' d='M28.91,8.47a1.7,1.7,0,1,1-3.39,0c0-.93.78-1.21,1.69-3.06C27.9,7.2,28.91,7.54,28.91,8.47Z'/%3E%3Cpath class='cls-1' d='M41.23,8.47a1.7,1.7,0,1,1-3.39,0c0-.93.78-1.21,1.7-3.06C40.22,7.2,41.23,7.54,41.23,8.47Z'/%3E%3Cpath class='cls-1' d='M38.16,12.28a1.7,1.7,0,0,1-3.39,0c0-.93.78-1.22,1.69-3.06C37.15,11,38.16,11.35,38.16,12.28Z'/%3E%3Cpath class='cls-1' d='M32,12.3a1.7,1.7,0,0,1-3.39,0c0-.93.79-1.22,1.7-3.06C31,11,32,11.37,32,12.3Z'/%3E%3Ccircle class='cls-1' cx='36.59' cy='26.54' r='1.72'/%3E%3Crect class='cls-1' x='33.28' y='28.8' width='6.49' height='6.49' rx='3.24'/%3E%3Cpath class='cls-2' d='M20.37,35.74a1.85,1.85,0,1,1,3.7,0,1.92,1.92,0,0,1-.1.59,50.9,50.9,0,0,0,22.75-4.85,5.78,5.78,0,0,0-1.07-.87s-1.84-5.26-2.39-6.56-1.37-3.15-3.9-3.15H27.14c-2.53,0-3.35,1.85-3.9,3.15s-2.39,6.56-2.39,6.56a8.19,8.19,0,0,0-3.34,5c.73.15,1.7.33,2.89.48A1.73,1.73,0,0,1,20.37,35.74ZM25.84,25c.55-1.16.62-1.36,5.13-1.36h4.45v0l.06,0c4.52,0,4.59.2,5.13,1.36s1.78,4.93,1.78,4.93H24.07S25.3,26.17,25.84,25Z'/%3E%3Cpath class='cls-1' d='M17.43,41.35H20v2.08a2.23,2.23,0,0,0,4.45,0V41.35h17.4v2.08a2.22,2.22,0,0,0,4.44,0V41.35h2.75V35.88a9,9,0,0,0-2.35-4.4A50.9,50.9,0,0,1,24,36.33a1.85,1.85,0,0,1-3.57-.27c-1.19-.15-2.16-.33-2.89-.48,0,.09-.05.19-.08.3Zm26.81-7.46a1.85,1.85,0,1,1-1.85,1.85A1.84,1.84,0,0,1,44.24,33.89Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
          li:nth-of-type(3){
            &::before{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.55 66.55'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.28' cy='33.28' r='33.28'/%3E%3Cpath class='cls-1' d='M37.32,10h-.7V9.1a3.28,3.28,0,0,0-6.55,0V10h-.7a.23.23,0,0,0-.23.23v5.85a.93.93,0,0,0,.93.93h6.55a.93.93,0,0,0,.93-.93V10.27A.23.23,0,0,0,37.32,10ZM34,14.92a.23.23,0,0,1,0,.18.25.25,0,0,1-.18.08h-.93a.25.25,0,0,1-.18-.08.28.28,0,0,1-.06-.18l.15-1.32a.94.94,0,1,1,1.11,0ZM35.21,10H31.47V9.1a1.87,1.87,0,1,1,3.74,0Z'/%3E%3Ccircle class='cls-1' cx='36.62' cy='26.54' r='1.72'/%3E%3Crect class='cls-1' x='33.31' y='28.8' width='6.49' height='6.49' rx='3.24'/%3E%3Cpath class='cls-2' d='M20.4,35.74a1.85,1.85,0,1,1,3.69,0,1.92,1.92,0,0,1-.1.59,50.88,50.88,0,0,0,22.75-4.85,6,6,0,0,0-1.06-.87s-1.85-5.26-2.4-6.56-1.36-3.15-3.89-3.15H27.17c-2.53,0-3.35,1.85-3.9,3.15s-2.39,6.56-2.39,6.56a8.18,8.18,0,0,0-3.35,5c.73.15,1.7.33,2.9.48A1.73,1.73,0,0,1,20.4,35.74ZM25.87,25c.54-1.16.61-1.36,5.13-1.36h4.44v0l.07,0c4.51,0,4.58.2,5.13,1.36s1.78,4.93,1.78,4.93H24.09S25.32,26.17,25.87,25Z'/%3E%3Cpath class='cls-1' d='M17.46,41.35h2.6v2.08a2.22,2.22,0,1,0,4.44,0V41.35H41.9v2.08a2.23,2.23,0,0,0,4.45,0V41.35H49.1V35.88a9,9,0,0,0-2.36-4.4A50.88,50.88,0,0,1,24,36.33a1.84,1.84,0,0,1-3.56-.27c-1.2-.15-2.17-.33-2.9-.48,0,.09-.05.19-.07.3Zm26.8-7.46a1.85,1.85,0,1,1-1.84,1.85A1.85,1.85,0,0,1,44.26,33.89Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
          li:nth-of-type(4){
            &::before{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.55 66.55'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.44px;%7D.cls-2%7Bfill:%23fff;%7D.cls-3%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.28' cy='33.28' r='33.28'/%3E%3Cpath class='cls-1' d='M29.75,6.34c0,1.29-.79,1.29-.79,2.58s.79,1.29.79,2.58S29,12.79,29,14.09s.79,1.29.79,2.58'/%3E%3Cpath class='cls-1' d='M33.49,6.34c0,1.29-.79,1.29-.79,2.58s.79,1.29.79,2.58-.79,1.29-.79,2.59.79,1.29.79,2.58'/%3E%3Cpath class='cls-1' d='M37.25,6.34c0,1.29-.8,1.29-.8,2.58s.8,1.29.8,2.58-.8,1.29-.8,2.59.8,1.29.8,2.58'/%3E%3Ccircle class='cls-2' cx='36.59' cy='26.57' r='1.72'/%3E%3Crect class='cls-2' x='33.28' y='28.82' width='6.49' height='6.49' rx='3.24'/%3E%3Cpath class='cls-3' d='M20.37,35.76a1.85,1.85,0,0,1,3.69,0,1.87,1.87,0,0,1-.1.59A50.88,50.88,0,0,0,46.71,31.5a6,6,0,0,0-1.06-.87s-1.85-5.26-2.4-6.56-1.36-3.15-3.89-3.15H27.14c-2.53,0-3.35,1.85-3.9,3.15s-2.39,6.56-2.39,6.56a8.18,8.18,0,0,0-3.35,5c.73.16,1.7.34,2.9.48A1.66,1.66,0,0,1,20.37,35.76ZM25.84,25c.54-1.17.61-1.37,5.13-1.37h4.44v0l.07,0c4.51,0,4.58.2,5.13,1.37S42.38,30,42.38,30H24.06S25.29,26.19,25.84,25Z'/%3E%3Cpath class='cls-2' d='M17.43,41.37H20v2.08a2.23,2.23,0,1,0,4.45,0V41.37h17.4v2.08a2.23,2.23,0,1,0,4.45,0V41.37h2.75V35.9a9,9,0,0,0-2.36-4.4A50.88,50.88,0,0,1,24,36.35a1.84,1.84,0,0,1-3.56-.27c-1.2-.14-2.17-.32-2.9-.48,0,.1-.05.2-.07.3Zm26.8-7.45a1.85,1.85,0,1,1-1.85,1.84A1.84,1.84,0,0,1,44.23,33.92Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
          li:nth-of-type(5){
            &::before{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.55 66.55'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:0.72px;%7D.cls-2%7Bfill:%23fff;%7D.cls-3%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.28' cy='33.28' r='33.28'/%3E%3Cpath class='cls-1' d='M51.05,12.57s4.8-5.93,8.42,8.33c1.68,6.63-9.06,14.84,5.65,20.81'/%3E%3Cpath class='cls-1' d='M38.46,15.37h0a2.5,2.5,0,0,1,3.53,0l6.26,6.26a2.5,2.5,0,0,1,0,3.53h0Z'/%3E%3Cpath class='cls-1' d='M44.26,17.64l5.07-5.07a1.23,1.23,0,0,1,1.72,0h0a1.23,1.23,0,0,1,0,1.72L46,19.36'/%3E%3Ccircle class='cls-2' cx='36.65' cy='26.79' r='1.72'/%3E%3Crect class='cls-2' x='33.34' y='29.05' width='6.49' height='6.49' rx='3.24'/%3E%3Cpath class='cls-3' d='M20.43,36a1.85,1.85,0,0,1,3.69,0,1.87,1.87,0,0,1-.1.59,50.88,50.88,0,0,0,22.75-4.85,5.57,5.57,0,0,0-1.06-.86s-1.85-5.27-2.39-6.57-1.37-3.14-3.9-3.14H27.2c-2.53,0-3.35,1.84-3.9,3.14s-2.39,6.57-2.39,6.57a8.18,8.18,0,0,0-3.35,5c.73.16,1.71.34,2.9.48A1.66,1.66,0,0,1,20.43,36ZM25.9,25.25c.55-1.16.61-1.37,5.13-1.37h4.44v0l.07,0c4.51,0,4.58.21,5.13,1.37s1.78,4.92,1.78,4.92H24.12S25.35,26.41,25.9,25.25Z'/%3E%3Cpath class='cls-2' d='M17.49,41.59h2.6v2.09a2.22,2.22,0,0,0,4.44,0V41.59h17.4v2.09a2.23,2.23,0,0,0,4.45,0V41.59h2.75V36.12a9,9,0,0,0-2.36-4.4A50.88,50.88,0,0,1,24,36.57a1.84,1.84,0,0,1-3.56-.27c-1.19-.14-2.17-.32-2.9-.48,0,.1,0,.2-.07.3Zm26.8-7.45A1.85,1.85,0,1,1,42.45,36,1.84,1.84,0,0,1,44.29,34.14Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
      }

    }
    .group-left-div{
      .even{

        ul{

          li:nth-of-type(1){
            &::before{

            }
          }
          li:nth-of-type(2){
            &::before{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.52 66.52'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23a41724;%7D.cls-2%7Bfill:%23fff;%7D.cls-3%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle class='cls-1' cx='33.26' cy='33.26' r='33.26'/%3E%3Cpath class='cls-2' d='M35.05,15.74a1.69,1.69,0,1,1-3.38,0c0-.93.78-1.22,1.69-3.06C34,14.47,35.05,14.81,35.05,15.74Z'/%3E%3Cpath class='cls-2' d='M35.05,8.47a1.69,1.69,0,1,1-3.38,0c0-.93.78-1.22,1.69-3.06C34,7.19,35.05,7.54,35.05,8.47Z'/%3E%3Cpath class='cls-2' d='M28.89,8.47a1.69,1.69,0,0,1-3.38,0c0-.93.78-1.22,1.69-3.06C27.88,7.19,28.89,7.54,28.89,8.47Z'/%3E%3Cpath class='cls-2' d='M41.21,8.47a1.7,1.7,0,0,1-3.39,0c0-.93.79-1.22,1.7-3.06C40.2,7.19,41.21,7.54,41.21,8.47Z'/%3E%3Cpath class='cls-2' d='M38.14,12.28a1.7,1.7,0,0,1-3.39,0c0-.94.78-1.22,1.7-3.07C37.13,11,38.14,11.34,38.14,12.28Z'/%3E%3Cpath class='cls-2' d='M32,12.3a1.7,1.7,0,0,1-3.39,0c0-.94.78-1.22,1.69-3.07C31,11,32,11.36,32,12.3Z'/%3E%3Ccircle class='cls-2' cx='36.58' cy='26.53' r='1.72'/%3E%3Crect class='cls-2' x='33.27' y='28.79' width='6.48' height='6.48' rx='3'/%3E%3Cpath class='cls-3' d='M20.36,35.72a1.85,1.85,0,0,1,3.69,0,1.87,1.87,0,0,1-.09.59A50.86,50.86,0,0,0,46.7,31.46a5.42,5.42,0,0,0-1.07-.86S43.79,25.33,43.24,24s-1.37-3.14-3.9-3.14H27.13c-2.53,0-3.35,1.85-3.9,3.14s-2.39,6.57-2.39,6.57a8.19,8.19,0,0,0-3.34,5c.73.16,1.7.34,2.89.48A3.16,3.16,0,0,1,20.36,35.72ZM25.83,25c.55-1.16.62-1.37,5.13-1.37H35.4v0l.07,0c4.51,0,4.58.21,5.13,1.37s1.77,4.92,1.77,4.92H24.05S25.28,26.15,25.83,25Z'/%3E%3Cpath class='cls-2' d='M17.42,41.33H20v2.08a2.22,2.22,0,0,0,4.44,0V41.33h17.4v2.08a2.22,2.22,0,0,0,4.44,0V41.33h2.75V35.86a9.09,9.09,0,0,0-2.35-4.4A50.86,50.86,0,0,1,24,36.31,1.85,1.85,0,0,1,20.39,36c-1.19-.14-2.16-.32-2.89-.48,0,.1-.05.2-.08.3Zm26.8-7.45a1.85,1.85,0,1,1-1.85,1.84A1.84,1.84,0,0,1,44.22,33.88Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
          li:nth-of-type(3){
            &::before{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.52 66.52'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23a41724;%7D.cls-2%7Bfill:%23fff;%7D.cls-3%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle class='cls-1' cx='33.26' cy='33.26' r='33.26'/%3E%3Cpath class='cls-2' d='M37.3,10h-.7V9.1a3.27,3.27,0,0,0-6.54,0V10h-.7a.24.24,0,0,0-.24.24v5.84a.93.93,0,0,0,.94.93H36.6a.93.93,0,0,0,.94-.93V10.27A.24.24,0,0,0,37.3,10ZM34,14.92a.21.21,0,0,1-.06.18.23.23,0,0,1-.17.08h-.94a.23.23,0,0,1-.17-.08.21.21,0,0,1-.06-.18l.15-1.33a.92.92,0,0,1-.39-.75.94.94,0,1,1,1.87,0,.91.91,0,0,1-.38.75ZM35.2,10H31.46V9.1a1.87,1.87,0,0,1,3.74,0Z'/%3E%3Ccircle class='cls-2' cx='36.6' cy='26.53' r='1.72'/%3E%3Crect class='cls-2' x='33.29' y='28.79' width='6.48' height='6.48' rx='3'/%3E%3Cpath class='cls-3' d='M20.39,35.72a1.85,1.85,0,0,1,3.69,0,1.87,1.87,0,0,1-.1.59,50.86,50.86,0,0,0,22.74-4.85,5.57,5.57,0,0,0-1.06-.86S43.81,25.33,43.27,24s-1.37-3.14-3.9-3.14H27.15c-2.52,0-3.34,1.85-3.89,3.14s-2.39,6.57-2.39,6.57a8.18,8.18,0,0,0-3.35,5c.73.16,1.71.34,2.9.48A1.66,1.66,0,0,1,20.39,35.72ZM25.86,25c.54-1.16.61-1.37,5.12-1.37h4.44v0l.07,0c4.51,0,4.58.21,5.13,1.37s1.78,4.92,1.78,4.92H24.08S25.31,26.15,25.86,25Z'/%3E%3Cpath class='cls-2' d='M17.45,41.33h2.6v2.08a2.22,2.22,0,0,0,4.44,0V41.33H41.88v2.08a2.23,2.23,0,0,0,4.45,0V41.33h2.75V35.86a9.09,9.09,0,0,0-2.36-4.4A50.86,50.86,0,0,1,24,36.31,1.84,1.84,0,0,1,20.42,36c-1.19-.14-2.17-.32-2.9-.48,0,.1-.05.2-.07.3Zm26.79-7.45a1.85,1.85,0,1,1-1.84,1.84A1.84,1.84,0,0,1,44.24,33.88Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
          li:nth-of-type(4){
            &::before{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.52 66.52'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23a41724;%7D.cls-2%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.44px;%7D.cls-3%7Bfill:%23fff;%7D.cls-4%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle class='cls-1' cx='33.26' cy='33.26' r='33.26'/%3E%3Cpath class='cls-2' d='M29.74,6.33c0,1.3-.8,1.3-.8,2.59s.8,1.29.8,2.58-.8,1.29-.8,2.58.8,1.29.8,2.59'/%3E%3Cpath class='cls-2' d='M33.48,6.33c0,1.3-.8,1.3-.8,2.59s.8,1.29.8,2.58-.8,1.29-.8,2.58.8,1.29.8,2.59'/%3E%3Cpath class='cls-2' d='M37.23,6.33c0,1.3-.8,1.3-.8,2.59s.8,1.29.8,2.58-.8,1.29-.8,2.58.8,1.29.8,2.59'/%3E%3Ccircle class='cls-3' cx='36.57' cy='26.55' r='1.72'/%3E%3Crect class='cls-3' x='33.26' y='28.81' width='6.48' height='6.48' rx='3'/%3E%3Cpath class='cls-4' d='M20.36,35.75a1.85,1.85,0,1,1,3.69,0,2,2,0,0,1-.1.59,51,51,0,0,0,22.74-4.85,5.43,5.43,0,0,0-1.06-.87s-1.85-5.26-2.4-6.56-1.36-3.15-3.89-3.15H27.12c-2.53,0-3.35,1.85-3.89,3.15s-2.39,6.56-2.39,6.56a8.18,8.18,0,0,0-3.35,5c.73.16,1.7.34,2.9.49A1.82,1.82,0,0,1,20.36,35.75ZM25.83,25c.54-1.16.61-1.36,5.12-1.36h4.44v0l.07,0c4.51,0,4.58.2,5.13,1.36s1.78,4.93,1.78,4.93H24.05S25.28,26.18,25.83,25Z'/%3E%3Cpath class='cls-3' d='M17.42,41.35H20v2.08a2.22,2.22,0,1,0,4.44,0V41.35H41.85v2.08a2.23,2.23,0,1,0,4.45,0V41.35H49V35.88a9,9,0,0,0-2.35-4.39A51,51,0,0,1,24,36.34a1.84,1.84,0,0,1-3.56-.27c-1.2-.15-2.17-.33-2.9-.49,0,.1,0,.2-.07.3ZM44.21,33.9a1.85,1.85,0,1,1-1.84,1.85A1.85,1.85,0,0,1,44.21,33.9Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
          li:nth-of-type(5){
            &::before{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.52 66.52'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23a41724;%7D.cls-2%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:0.72px;%7D.cls-3%7Bfill:%23fff;%7D.cls-4%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle class='cls-1' cx='33.26' cy='33.26' r='33.26'/%3E%3Cpath class='cls-2' d='M51,12.57s4.8-5.93,8.41,8.32c1.68,6.63-9,14.83,5.65,20.8'/%3E%3Cpath class='cls-2' d='M38.44,15.37h0a2.52,2.52,0,0,1,3.54,0l6.25,6.25a2.5,2.5,0,0,1,0,3.53h0Z'/%3E%3Cpath class='cls-2' d='M44.24,17.64l5.07-5.07a1.23,1.23,0,0,1,1.72,0h0a1.23,1.23,0,0,1,0,1.72L46,19.35'/%3E%3Ccircle class='cls-3' cx='36.63' cy='26.78' r='1.72'/%3E%3Crect class='cls-3' x='33.32' y='29.03' width='6.48' height='6.48' rx='3'/%3E%3Cpath class='cls-4' d='M20.42,36a1.85,1.85,0,1,1,3.69,0,2,2,0,0,1-.1.59,50.84,50.84,0,0,0,22.74-4.85,6,6,0,0,0-1.06-.87s-1.85-5.26-2.39-6.56-1.37-3.14-3.9-3.14H27.19c-2.53,0-3.35,1.84-3.9,3.14s-2.39,6.56-2.39,6.56a8.18,8.18,0,0,0-3.35,5c.73.16,1.71.34,2.9.49A1.73,1.73,0,0,1,20.42,36Zm5.47-10.73c.54-1.17.61-1.37,5.12-1.37h4.45v0l.06,0c4.52,0,4.58.2,5.13,1.37s1.78,4.92,1.78,4.92H24.11S25.34,26.4,25.89,25.24Z'/%3E%3Cpath class='cls-3' d='M17.48,41.57h2.6v2.09a2.22,2.22,0,0,0,4.44,0V41.57H41.91v2.09a2.23,2.23,0,0,0,4.45,0V41.57h2.75V36.1a9,9,0,0,0-2.36-4.39A50.84,50.84,0,0,1,24,36.56a1.84,1.84,0,0,1-3.56-.27c-1.19-.15-2.17-.33-2.9-.49,0,.1-.05.2-.07.3Zm26.79-7.45A1.85,1.85,0,1,1,42.43,36,1.85,1.85,0,0,1,44.27,34.12Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
      }
    }


  }
}

.page-node-3{
  #node-22{
    display: none;
  }
}
.page-node-21{
  #node-13{
    display: none;
  }
  #block-views-pagina-body-onder-block{
    table{
      td{
        @media (min-width: 1024px){
          min-width: 100%!important;
        }
        h3{
          font-size: 32px;
          font-weight: 600;
          letter-spacing: 8px;
          @media (min-width: 1024px){
            margin-top: 30px!important;
          }
        }
        p{
          font-size: 24px;
          font-weight: 300;
        }
        ol{
          margin: 0 auto;
          margin-bottom: 10px!important;
          li{
            font-weight: 500;
            font-size: 11px;
            &:nth-of-type(1){
              @media (min-width: 1024px){
                margin-right: 35px!important;
              }
            }
          }
        }
      }
    }
  }
  #block-views-flashbericht-block{
    #node-22{
      background-color: @main-color;
      padding: 35px;
      footer{
        display: none;
      }
      .even{
        > p{
          background-color: white;
          color: @main-color;
        }
      }
      .group-left-div{
        @media (min-width: 1024px){
          width: 465px;
          margin-left: 0px;
        }
        .even{
          ul{
            li{
              margin-bottom: 20px!important;
              &::after{
                display: none;
                //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.12 19.6'%3E%3Cg data-name='Laag 2'%3E%3Cpath fill='%23000000' d='M14.24 9.54V0H5.88v9.54H0L10.06 19.6 20.12 9.54h-5.88z' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");
              }
            }
            li:nth-of-type(1){
              &::before{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.55 66.55'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.28' cy='33.28' r='33.28'/%3E%3Crect class='cls-1' x='18' y='28.67' width='3.02' height='21.92' rx='1.51'/%3E%3Crect class='cls-1' x='23.68' y='28.67' width='3.02' height='21.92' rx='1.51'/%3E%3Cpath class='cls-1' d='M21.63,20.46h0a5.06,5.06,0,0,1,5.06,5.06v6.75a5.06,5.06,0,0,1-5.06,5.06h0A3.63,3.63,0,0,1,18,33.7v-9.6a3.63,3.63,0,0,1,3.63-3.63Z'/%3E%3Ccircle class='cls-1' cx='22.28' cy='15.71' r='3.49'/%3E%3Crect class='cls-1' x='20.62' y='20.46' width='16.92' height='3.02' rx='1.51'/%3E%3Cpath class='cls-1' d='M49.42,50.59V19.18a4.74,4.74,0,0,0-4.73-4.73h0A4.75,4.75,0,0,0,40,19.18V50.59Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              }
            }
            li:nth-of-type(2){
              &::before{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.55 66.55'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.28' cy='33.28' r='33.28'/%3E%3Cpath class='cls-1' d='M35.07,15.75a1.7,1.7,0,0,1-3.39,0c0-.94.78-1.22,1.69-3.06C34.06,14.47,35.07,14.81,35.07,15.75Z'/%3E%3Cpath class='cls-1' d='M35.07,8.47a1.7,1.7,0,1,1-3.39,0c0-.93.78-1.21,1.69-3.06C34.06,7.2,35.07,7.54,35.07,8.47Z'/%3E%3Cpath class='cls-1' d='M28.91,8.47a1.7,1.7,0,1,1-3.39,0c0-.93.78-1.21,1.69-3.06C27.9,7.2,28.91,7.54,28.91,8.47Z'/%3E%3Cpath class='cls-1' d='M41.23,8.47a1.7,1.7,0,1,1-3.39,0c0-.93.78-1.21,1.7-3.06C40.22,7.2,41.23,7.54,41.23,8.47Z'/%3E%3Cpath class='cls-1' d='M38.16,12.28a1.7,1.7,0,0,1-3.39,0c0-.93.78-1.22,1.69-3.06C37.15,11,38.16,11.35,38.16,12.28Z'/%3E%3Cpath class='cls-1' d='M32,12.3a1.7,1.7,0,0,1-3.39,0c0-.93.79-1.22,1.7-3.06C31,11,32,11.37,32,12.3Z'/%3E%3Ccircle class='cls-1' cx='36.59' cy='26.54' r='1.72'/%3E%3Crect class='cls-1' x='33.28' y='28.8' width='6.49' height='6.49' rx='3.24'/%3E%3Cpath class='cls-2' d='M20.37,35.74a1.85,1.85,0,1,1,3.7,0,1.92,1.92,0,0,1-.1.59,50.9,50.9,0,0,0,22.75-4.85,5.78,5.78,0,0,0-1.07-.87s-1.84-5.26-2.39-6.56-1.37-3.15-3.9-3.15H27.14c-2.53,0-3.35,1.85-3.9,3.15s-2.39,6.56-2.39,6.56a8.19,8.19,0,0,0-3.34,5c.73.15,1.7.33,2.89.48A1.73,1.73,0,0,1,20.37,35.74ZM25.84,25c.55-1.16.62-1.36,5.13-1.36h4.45v0l.06,0c4.52,0,4.59.2,5.13,1.36s1.78,4.93,1.78,4.93H24.07S25.3,26.17,25.84,25Z'/%3E%3Cpath class='cls-1' d='M17.43,41.35H20v2.08a2.23,2.23,0,0,0,4.45,0V41.35h17.4v2.08a2.22,2.22,0,0,0,4.44,0V41.35h2.75V35.88a9,9,0,0,0-2.35-4.4A50.9,50.9,0,0,1,24,36.33a1.85,1.85,0,0,1-3.57-.27c-1.19-.15-2.16-.33-2.89-.48,0,.09-.05.19-.08.3Zm26.81-7.46a1.85,1.85,0,1,1-1.85,1.85A1.84,1.84,0,0,1,44.24,33.89Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              }
            }
            li:nth-of-type(3){
              &::before{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.55 66.55'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.28' cy='33.28' r='33.28'/%3E%3Cpath class='cls-1' d='M37.32,10h-.7V9.1a3.28,3.28,0,0,0-6.55,0V10h-.7a.23.23,0,0,0-.23.23v5.85a.93.93,0,0,0,.93.93h6.55a.93.93,0,0,0,.93-.93V10.27A.23.23,0,0,0,37.32,10ZM34,14.92a.23.23,0,0,1,0,.18.25.25,0,0,1-.18.08h-.93a.25.25,0,0,1-.18-.08.28.28,0,0,1-.06-.18l.15-1.32a.94.94,0,1,1,1.11,0ZM35.21,10H31.47V9.1a1.87,1.87,0,1,1,3.74,0Z'/%3E%3Ccircle class='cls-1' cx='36.62' cy='26.54' r='1.72'/%3E%3Crect class='cls-1' x='33.31' y='28.8' width='6.49' height='6.49' rx='3.24'/%3E%3Cpath class='cls-2' d='M20.4,35.74a1.85,1.85,0,1,1,3.69,0,1.92,1.92,0,0,1-.1.59,50.88,50.88,0,0,0,22.75-4.85,6,6,0,0,0-1.06-.87s-1.85-5.26-2.4-6.56-1.36-3.15-3.89-3.15H27.17c-2.53,0-3.35,1.85-3.9,3.15s-2.39,6.56-2.39,6.56a8.18,8.18,0,0,0-3.35,5c.73.15,1.7.33,2.9.48A1.73,1.73,0,0,1,20.4,35.74ZM25.87,25c.54-1.16.61-1.36,5.13-1.36h4.44v0l.07,0c4.51,0,4.58.2,5.13,1.36s1.78,4.93,1.78,4.93H24.09S25.32,26.17,25.87,25Z'/%3E%3Cpath class='cls-1' d='M17.46,41.35h2.6v2.08a2.22,2.22,0,1,0,4.44,0V41.35H41.9v2.08a2.23,2.23,0,0,0,4.45,0V41.35H49.1V35.88a9,9,0,0,0-2.36-4.4A50.88,50.88,0,0,1,24,36.33a1.84,1.84,0,0,1-3.56-.27c-1.2-.15-2.17-.33-2.9-.48,0,.09-.05.19-.07.3Zm26.8-7.46a1.85,1.85,0,1,1-1.84,1.85A1.85,1.85,0,0,1,44.26,33.89Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              }
            }
            li:nth-of-type(4){
              &::before{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.55 66.55'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.44px;%7D.cls-2%7Bfill:%23fff;%7D.cls-3%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.28' cy='33.28' r='33.28'/%3E%3Cpath class='cls-1' d='M29.75,6.34c0,1.29-.79,1.29-.79,2.58s.79,1.29.79,2.58S29,12.79,29,14.09s.79,1.29.79,2.58'/%3E%3Cpath class='cls-1' d='M33.49,6.34c0,1.29-.79,1.29-.79,2.58s.79,1.29.79,2.58-.79,1.29-.79,2.59.79,1.29.79,2.58'/%3E%3Cpath class='cls-1' d='M37.25,6.34c0,1.29-.8,1.29-.8,2.58s.8,1.29.8,2.58-.8,1.29-.8,2.59.8,1.29.8,2.58'/%3E%3Ccircle class='cls-2' cx='36.59' cy='26.57' r='1.72'/%3E%3Crect class='cls-2' x='33.28' y='28.82' width='6.49' height='6.49' rx='3.24'/%3E%3Cpath class='cls-3' d='M20.37,35.76a1.85,1.85,0,0,1,3.69,0,1.87,1.87,0,0,1-.1.59A50.88,50.88,0,0,0,46.71,31.5a6,6,0,0,0-1.06-.87s-1.85-5.26-2.4-6.56-1.36-3.15-3.89-3.15H27.14c-2.53,0-3.35,1.85-3.9,3.15s-2.39,6.56-2.39,6.56a8.18,8.18,0,0,0-3.35,5c.73.16,1.7.34,2.9.48A1.66,1.66,0,0,1,20.37,35.76ZM25.84,25c.54-1.17.61-1.37,5.13-1.37h4.44v0l.07,0c4.51,0,4.58.2,5.13,1.37S42.38,30,42.38,30H24.06S25.29,26.19,25.84,25Z'/%3E%3Cpath class='cls-2' d='M17.43,41.37H20v2.08a2.23,2.23,0,1,0,4.45,0V41.37h17.4v2.08a2.23,2.23,0,1,0,4.45,0V41.37h2.75V35.9a9,9,0,0,0-2.36-4.4A50.88,50.88,0,0,1,24,36.35a1.84,1.84,0,0,1-3.56-.27c-1.2-.14-2.17-.32-2.9-.48,0,.1-.05.2-.07.3Zm26.8-7.45a1.85,1.85,0,1,1-1.85,1.84A1.84,1.84,0,0,1,44.23,33.92Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              }
            }
            li:nth-of-type(5){
              &::before{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.55 66.55'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:0.72px;%7D.cls-2%7Bfill:%23fff;%7D.cls-3%7Bfill:%23f5f5f5;%7D%3C/style%3E%3C/defs%3E%3Cg id='Laag_2' data-name='Laag 2'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='33.28' cy='33.28' r='33.28'/%3E%3Cpath class='cls-1' d='M51.05,12.57s4.8-5.93,8.42,8.33c1.68,6.63-9.06,14.84,5.65,20.81'/%3E%3Cpath class='cls-1' d='M38.46,15.37h0a2.5,2.5,0,0,1,3.53,0l6.26,6.26a2.5,2.5,0,0,1,0,3.53h0Z'/%3E%3Cpath class='cls-1' d='M44.26,17.64l5.07-5.07a1.23,1.23,0,0,1,1.72,0h0a1.23,1.23,0,0,1,0,1.72L46,19.36'/%3E%3Ccircle class='cls-2' cx='36.65' cy='26.79' r='1.72'/%3E%3Crect class='cls-2' x='33.34' y='29.05' width='6.49' height='6.49' rx='3.24'/%3E%3Cpath class='cls-3' d='M20.43,36a1.85,1.85,0,0,1,3.69,0,1.87,1.87,0,0,1-.1.59,50.88,50.88,0,0,0,22.75-4.85,5.57,5.57,0,0,0-1.06-.86s-1.85-5.27-2.39-6.57-1.37-3.14-3.9-3.14H27.2c-2.53,0-3.35,1.84-3.9,3.14s-2.39,6.57-2.39,6.57a8.18,8.18,0,0,0-3.35,5c.73.16,1.71.34,2.9.48A1.66,1.66,0,0,1,20.43,36ZM25.9,25.25c.55-1.16.61-1.37,5.13-1.37h4.44v0l.07,0c4.51,0,4.58.21,5.13,1.37s1.78,4.92,1.78,4.92H24.12S25.35,26.41,25.9,25.25Z'/%3E%3Cpath class='cls-2' d='M17.49,41.59h2.6v2.09a2.22,2.22,0,0,0,4.44,0V41.59h17.4v2.09a2.23,2.23,0,0,0,4.45,0V41.59h2.75V36.12a9,9,0,0,0-2.36-4.4A50.88,50.88,0,0,1,24,36.57a1.84,1.84,0,0,1-3.56-.27c-1.19-.14-2.17-.32-2.9-.48,0,.1,0,.2-.07.3Zm26.8-7.45A1.85,1.85,0,1,1,42.45,36,1.84,1.84,0,0,1,44.29,34.14Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              }
            }
          }
        }
      }
      .group-right-div{
        position: relative;
        &::before{
          @media(min-width: 1024px){
            content: "";
            width: 1px;
            height: 510px;
            background-color: white;
            position: absolute;
            left: 0px;
            top: 0;
          }
        }
        .field-name-field-video-right{
          @media (min-width: 1024px){
            margin-left: -45px;
          }
        }
        .field-name-field-body-right{
          h3{
            font-weight: 600;
            text-transform: uppercase;
            color: @main-color;
            background-color: white;
            font-size: 25px;
            display: flex;
            line-height: 24px;
            padding: 12px;
            text-align: left;
            margin-bottom: 45px;
            max-width: 300px;
            margin-left: 0;
            margin-right: auto;
          }
          p{
            background-color: transparent;
            color: white;
            font-size: 15px;
            line-height: 24px;
            font-weight: 400;
            max-width: 100%;
            padding: 0px;
            text-transform: none;
          }
        }
        @media (min-width: 1024px){
          padding-left: 75px;
          width: 465px;
        }
      }
      p,li{
        color: white;
      }
    }
  }
}

.group-troeven-display.field-group-field_group_multiple_container{
  .field-group-multiple-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    @media(min-width: 1024px){
      flex-wrap: nowrap!important;
    }
  }
}

.view-id-footer_contact_info{
  .content{
    @media (min-width: 768px){
      display: flex!important;
    }
  }
}

#node-13,#node-22{
  > h2{
    display: none!important;
  }
}

#node-22{
  max-width: 1000px;
  margin: 0 auto;
}

.page-node-21{
  .row{
    > .col-sm-12{
      background-color: white;
    }
  }
  .region-content{
    background-color: white;
  }
}
.page-node-3{
  .row{
    > .col-sm-12{
      background-color: white;
    }
  }
}

.backstretch{
  top: 66px!important;
  @media (min-width: 768px){
    top: 191px!important;
  }
  @media (min-width: 1024px){
    top: 135px!important;
  }

}

.views-field-field-image-1 ,.views-field-field-image-2{
  img{
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
